[2016-08-30 18:30] sasjkia opened #1 "Replace logo"
Please replace current logo with new one.
Center the logo, as per the home page mockup.

The new logo and home page mockup can be found in the #frontend channel of the Slack.

[2016-08-30 18:36] sasjkia opened #2 "Replace background picture"
Please replace the current background picture with the new one, as per the mockup.

The background picture and mockup can be found in the #frontend channel of the Slack.

[2016-08-30 18:41] sasjkia opened #3 "Add 866-OURVOTE phone number at the top of the home page"
Add bar containing the 866-OURVOTE phone number on the home page, as per the mockup.

Mockup and color numbers can be found in the #frontend channel of the Slack.

[2016-08-30 19:38] sasjkia opened #4 "Change color scheme"
To start, change the section heading backgrounds to blue with white text, and the hyperlinks to red underlined text - as per the mockups.

Mockups and color numbers can be found in the #frontend channel of the Slack.

This is an initial change to bring the appearance broadly in line with our new branding, so we can start adding it to external communications.

[2016-08-30 20:00] sasjkia opened #5 "Change banner overlay text"
Change current slogan and description overlaying the banner to that found on the mockup:
Every American DESERVES a vote
We connect volunteer drivers with anybody who needs a ride to claim their vote.

Also center the text.

Mockup can be found in #frontend channel on the Slack.

[2016-08-30 20:29] sasjkia opened #6 "Merge I NEED VOTING INFO! and VOTING SUPPORT sections on home page"
Name merged section: HOW TO CLAIM YOUR VOTE
Create subheading for former VOTING SUPPORT section: Need further support?

See Website copy document in #frontend channel of the Slack for revised wording.

Add graphics of of Rock the Vote and the Election Protection coalition, as per the mockup.

Mockup can be found in #frontend channel of the Slack for revised wording.

No need to change the current

[2016-08-31 06:48] sasjkia opened #7 "Change size & position of I NEED A RIDE/I CAN OFFER A RIDE buttons"
Make I NEED A RIDE and I CAN OFFER A RIDE buttons narrower.

Place I NEED A RIDE toward left side of banner picture and I CAN OFFER A RIDE next to it toward the right.

See home page mockup on #frontend channel of the Slack for relative sizing an positioning.

[2016-08-31 07:00] sasjkia opened #8 "Add description boxes behind I NEED A RIDE and I CAN OFFER A RIDE buttons"
On the home page behind each of the resized and repositioned I NEED A RIDE and I CAN OFFER A RIDE buttons, add larger white boxes with 90 degree edges and a semi-circle at the top - as per the home page mockup. In the RIDERS semicircle, add the rider icon. In the DRIVERS semicircle, add the driver icon.

Above the RIDERS button, add a red RIDERS capitalized heading, with a plain text description b

[2016-08-31 07:08] sasjkia opened #9 "Reposition Tweet and Facebook Share buttons"
Move Tweet and Share buttons to above the top left-hand edge of the banner picture, as per the homepage mockup.

Resize the Tweet button so it's the same size as the Share button.

See the #frontend channel in the Slack for the home page mockup.

[2016-08-31 07:14] sasjkia opened #10 "Resize and style footer container"
Make footer section wider, as per the home page mockup.

Recolor the footer section to grey.

Add thick red top border with slight bevel.

See #frontend channel of the Slack for homepage mockup.

[2016-08-31 07:17] sasjkia opened #11 "Delete WHAT IS THIS SITE and NEWSLETTER sections"
Remove entire boxes for WHAT IS THIS SITE section on the left and NEWSLETTER section on the right.

These sections are no longer necessary on the new home page.

Do not remove reference to newsletter in footer container.

[2016-08-31 07:28] sasjkia opened #12 "Change copy, style, and reposition contact link"
Move contact link higher up in the footer, as per the home page mockup.

Change working to: Contact us: together@carpoolvote.com

Home page mockup can be found in #frontend channel of the Slack

[2016-08-31 07:35] sasjkia opened #13 "Change newsletter signup link to form"
In the footer, change the Sign up for our newsletter link to form that allows you to submit an email address directly. Allow user to submit using blue JOIN button, as per the home page mockup.

Replace the Keep updated with our project text with "Sign up for our newsletter".

See the #frontend channel of the Slack for the home page mockup.

[2016-08-31 07:38] sasjkia opened #14 "Reposition newsletter signup form in footer"
Move newsletter signup form to below the Contact section on the left in the footer, as per the home page mockup.

See #frontend channel of the Slack for homepage mockup.

[2016-09-01 08:07] #2 closed

[2016-09-01 08:10] sasjkia commented on #4
The color code for the lighter blue is not yet available. Awaiting UX reponse.

[2016-09-01 21:56] #4 closed

[2016-09-01 21:57] #1 closed

[2016-09-08 12:31] sasjkia opened #18 "Limit date and time selections for sign-up forms by state - MAIN BRANCH AND DEVELOP BRANCH"
This issue should be done AFTER #19

In the I NEED A RIDE form, move Date and Approx Time selections to underneath the location information
In the I CAN OFFER A RIDE form, move Date and Approx Time selections to underneath the location information

Change "State" wording to:
RIDERS: In which state will you be voting?
DRIVERS: In which state will you be driving?

This is so that we can limit the da

[2016-09-08 21:59] sasjkia opened #19 "Add multiple date and time picker to driver and rider signup forms"
In the I NEED A RIDE form, change the date language to: When could you travel?
Hover text: Select all dates and times that would work for your ride. We'll let you know when there will be a driver available.

To allow the user to pick dates/times, use the graphic appearance attached. The user should be able to select multiple (nonconsecutive) dates and should be required to select time slots for ea

[2016-09-08 22:23] sasjkia opened #20 "Add legal tick boxes to I NEED A RIDE form"
Please add the following to the end of the I NEED A RIDE form

꧐ I understand that Carpool Vote will to share my contact details with the driver if there’s a match. We will not share your details with anybody else.
Hover text: Your details are safe with us! We’ll only share them with officials if they need them for a safety-related matter, and will destroy them within three months of Election Day.

[2016-09-08 22:28] sasjkia opened #21 "Add legal tick boxes to I CAN OFFER A RIDE form"
Please add the following tick boxes to the bottom of the I CAN OFFER A RIDE form

꧐ I understand that Carpool Vote will share my contact details with the rider if there’s a match. (Carpool Vote will not share personal details with anybody else, unless required by law, and will destroy them within three months of election day.)

꧐ I understand that this service is open to any driver or rider - no m

[2016-09-12 13:38] GregSaintJean commented on #21
Can you give me an idea of how you want the hover text to look like?

[2016-09-12 23:00] sasjkia commented on #20
Thanks very much for doing this! Thinking about it, hover text is not very practical for mobile. Could we pls change to the below?

I understand that Carpool Vote will share my contact details with the driver if there’s a match. (Carpool Vote will not share personal details with anybody else, unless required by law, and will destroy them within three months of election day.)

[2016-09-12 23:19] GregSaintJean commented on #20
https://github.com/voteamerica/voteamerica.github.io/pull/24

[2016-09-12 23:21] sasjkia commented on #21
Good point - I've updated the wording.

Also changed vehicles registration to license - upon a partner's suggestion.

[2016-09-12 23:26] GregSaintJean commented on #21
O no. Lol! I'll do another pull request.

[2016-09-13 17:30] #3 closed

[2016-09-13 17:30] #5 closed

[2016-09-13 17:30] #6 closed

[2016-09-13 17:30] #7 closed

[2016-09-13 17:30] #8 closed

[2016-09-13 17:30] #9 closed

[2016-09-13 17:30] #10 closed

[2016-09-13 17:30] #11 closed

[2016-09-13 17:30] #12 closed

[2016-09-13 17:30] #13 closed

[2016-09-13 17:30] #14 closed

[2016-09-13 20:52] sasjkia opened #26 "Update wheelchair wording to be clearer"
A partner has asked that we clarify wheelchair language. Some drivers are also uncertain about what is helpful.

CHANGE
My car has space for a wheelchair

TO
 I am able to transfer a person with a wheelchair into my vehicle

[2016-09-17 17:29] #26 closed

[2016-09-17 17:50] sasjkia opened #29 "Add driver and rider buttons with underlying forms to DEVELOP BRANCH"
In the develop branch...

Add I NEED  RIDE button inside the RIDERS box

Add I CAN OFFER A RIDE button inside the DRIVERS box

Both of these buttons need to lead to the right form, as currently seen in the live version

Have a look at the mockups in the #frontend channel of the Slack

[2016-09-17 17:57] sasjkia opened #30 "Change subtitle text in DEVELOP BRANCH"
Replace the text that reads: In many states, new voting rules have made it more difficult for people to get to polling stations. These rules particularly affect People of Color, People with Disabilities, Young People, Elderly People, and Women. Carpool Vote is a tool to fight back against an unfair political system in the 2016 election. We connect volunteer drivers with anybody who needs a ride to

[2016-09-17 18:00] sasjkia opened #31 "Cut cover photo at the top in the DEVELOP BRANCH"
Currently, the cover photo takes up too much room and the user has to scroll down to see the I NEED A RIDE and I CAN OFFER A RIDE buttons

Please cut some of the top off the photo, so the buttons are immediately visible without scrolling down

[2016-09-17 18:52] sfirrin commented on #19
I mentioned I could work on this but I think doing it exactly to these specs would require a time commitment / level of skill outside of what I have. The multiple picker that you linked unfortunately only works for Angular apps.

What I can do, and what might even be a better UX solution, is to have three date picker input boxes that they can fill (only require them to fill one), and then a button

[2016-09-17 19:21] sasjkia commented on #19
Thanks for working on this @sfirrin! This could work... Remember that we need time slots, not just times. And someone may enter multiple time slots per date (i.e., in the morning on the way to work and in the afternoon on the way back). As long is it has this functionality, it makes sense to go ahead with the version you have recommended. :)

[2016-09-17 19:35] sfirrin commented on #19
Oh right I forgot it had to be a range. I can imagine doing something like this:
![image](https://cloud.githubusercontent.com/assets/13263282/18610512/48d04906-7cec-11e6-8bee-df22e5d16b9c.png)

It seems like it would just be relatively minor changes to this jQuery plugin (the one you screenshotted in the issue): http://xdsoft.net/jqplugins/datetimepicker/

[2016-09-17 19:37] sasjkia opened #32 "Change "Our story" text on home page of DEVELOP BRANCH"
1. On home page, replace text in

"Our story" section with:
"In many states, new voting rules have made it more difficult for people to get to polling stations. These rules particularly affect People of Color, People with Disabilities, Young People, Elderly People, and Women.

Carpool Vote is a tool to fight back against an unfair political system in the 2016 election."

Add a [READ MORE] link und

[2016-09-17 19:38] sasjkia commented on #19
Ok - though remember that some people might be driving all day on multiple days. Is this the most intuitive way for this kind of user to interact with the interface?

[2016-09-17 19:44] sfirrin commented on #19
Hmm it's probably going to be a pain for the users who are driving multiple days. Not sure if there's a way around that though since they'll still need to specify the date, start, and end times that they're available. I could imagine an "All day" option that would select something like 8am to 10pm for them.

Do you have any ideas? (I am pretty far from a UX designer)

[2016-09-17 19:47] sasjkia commented on #19
If you cannot select multiple time slots visually, the user could just input a start and an end time, and can have the option of adding more time slots for the same date

[2016-09-17 19:48] sasjkia opened #33 "Add Home page link to DEVELOP BRANCH"
To the left of the other page links, add "Home"

People may want to return to the home page from whatever part of the site they're on

[2016-09-17 19:56] sfirrin commented on #19
That might be best

[2016-09-17 21:22] sasjkia commented on #19
alrighty 👍

[2016-09-17 23:25] sasjkia opened #35 "Create "Our story" page in DEVELOP BRANCH"
Create a page to look like mockup in #frontend channel of the Slack. The layout will be very similar to the home page but instead of the full RIDER / DRIVER signup boxes, there will simply I NEED A RIDE and I CAN OFFER A RIDE buttons (same as the current live version - and not currently found on the mockup)

Paste the following text into the "Our story" box:

Carpool Vote connects volunteer driver

[2016-09-17 23:41] sasjkia opened #36 "Change text in RIDERS and DRIVERS signup boxes on home page in DEVELOP branch"
For RIDERS, change text to:
Need a ride to claim your vote?
Some of our riders need to get to the polls - either on polling day or during early voting. Others need to travel to get a photo I.D.
Just fill in this form! We'll try to connect you with a driver.
[Hyperlink: HOW DOES IT WORK?]

For DRIVERS, change text to:
Sign up to give a fellow American a ride to claim their vote.
Offer to drive some

[2016-09-17 23:58] sasjkia opened #37 "Delete "Are you registered" Rock the Vote hyperlink"
Another partner has found that this is inaccurate.

Replace with "Voter registration deadlines": http://www.rockthevote.com/get-informed/elections/voter-registration-deadlines.html?referrer=https://www.google.co.uk/

[2016-09-18 00:02] sasjkia opened #38 "Replace LONG TEXT LONG TEXT RIGHT TO VOTE box on home page with HOW TO CLAIM YOUR VOTE box in DEVELOP BRANCH"
This should be to the right of the our story box (so in a different position to that seen in the mockup in the #frontend channel of the Slack

Copy exactly all text and images found in the mockup - using the hyperlinks already found on the live site but with the one hyperlink change from issue #37

[2016-09-18 00:11] sasjkia opened #39 "Update HOW CAN I SUPPORT THE MOVEMENT box on home page in DEVELOP BRANCH"
This box should be moved to the left, underneath the OUR STORY box (so not in the same position as in the mockup)

Change headline to:
HOW ELSE CAN I SUPPORT THE MOVEMENT?

Change text / form content to copy in #frontend Slack channel:
Firstly, tell your family, friends, colleagues, and strangers! And share us on social media! The more people who know about us, the better our chances of making thi

[2016-09-18 08:05] sasjkia opened #40 "Change copy of Tweet button"
Change to
Support #DemocracyForAll this #Election2016. Sign up on @CarpoolVote.com: Linking volunteer drivers w voters needing a ride. #TogetherWeCan

[2016-09-18 08:15] sasjkia opened #41 "Change "Support" navigation hyperlink at the top to "Voter support" in the DEVELOP BRANCH"
Change the "Support" navigation hyperlink text at the top to "Voter support"

Link this to the HOW TO CLAIM YOUR VOTE section on the home page and on the "Our story" page

[2016-09-18 08:28] sasjkia opened #42 "Form update to MASTER AND DEVELOP BRANCH: Preferred method of contact"
In the RIDER signup form, add the following text below the contact details:

How would you prefer the driver to get in touch to arrange the ride?:
꧐ Email		꧐ SMS		꧐ Phone call

[2016-09-18 09:19] sasjkia opened #43 "Form update in MASTER AND DEVELOP BRANCH: Vulnerable passenger matching"
In DRIVER signup form, underneath phone number entry, include the following entry:
I am driving in an official capacity on behalf of a registered organization ꧐
Organization registration number: ______________ (required if the above box is checked)

In RIDER signup form, underneath the phone number entry, include the following entry:
꧐ Pensioner or disability: Please check this box if you are reti

[2016-09-18 09:36] sasjkia opened #44 "Change wheelchair wording in RIDER signup for MAIN BRANCH"
In RIDER signup form:

Change
I use a wheelchair
to
Wheelchair-accessible ride: How many wheelchair users need to travel in the same car?

Change "Seats" to "Seats (non-wheelchair)".
Change "How many seats do you need?" to "Ordinary seats: How many non-wheelchair seats do you need in the same car?

Above these 2 entries, include the text:
Please let us know how how many people will need to travel

[2016-09-18 09:45] sasjkia opened #45 "Change location information provision in signup forms in MAIN BRANCH"
In RIDER signup form, delete city option:

Change "From" descriptive text inside the entry box to "Where can you meet the driver"
Change "From" to "Collection zip code"

Change "Destination" to descriptive text inside the entry box to "To where do you need a ride?"
Change "Destination" to "Destination address"

In DRIVER signup form, change City and Neighborhood to "Collection zip code" and includ

[2016-09-18 09:51] sasjkia opened #46 "Change introduction text on DRIVER and RIDER signup forms in MAIN BRANCH"
Change text at the top of the RIDER signup form to:
Need a ride to the polls or voter I.D. office? Fill in the form to let us know when and where you need a ride. We’ll do our best to match you with a driver!

Change text at the top of the DRIVER signup form to:
Do you have a spare seat to help get somebody to the polls or voter I.D. office? Fill in the form to let us know when and where you’ll be

[2016-09-18 09:53] sasjkia opened #47 "Add staying in touch options in DRIVER and RIDER signup forms"
Add entry at the bottom of the DRIVER signup form in MAIN BRANCH:
Yes, please stay in touch! ꧐ We’d like to keep you updated from time to time about how the project is progressing. Please untick this box if you’d prefer us not to do this.

Add entry at the bottom of the RIDER signup form:
Yes, please stay in touch! ꧐ We’d like to keep you updated from time to time about how others are claiming the

[2016-09-18 14:27] sasjkia opened #48 "Add election countdown to home page (low priority)"
Use the code below:

http://www.270towin.com/2016-countdown-clock/

this issue is low priority

[2016-09-19 01:15] sfirrin commented on #19
Hey I've been working on this in this branch here: https://github.com/voteamerica/voteamerica.github.io/tree/develop_calendar

I wasn't really satisfied with my original plan and I had the idea of having the datepicker and time range slider be fixed, and the user changing them accordingly in order to add the currently selected options to a list of datetimes. It looks like this:
![image](https://cl

[2016-09-19 01:15] sfirrin commented on #19
Oh and the button will update with the currently selected date and time range also but I haven't gotten to that quite yet.

[2016-09-19 10:52] sasjkia commented on #19
I think this is good - thank you! Can you select the same date twice? (in case people want to do morning before work and evening after work).

[2016-09-19 13:44] sfirrin commented on #19
Yep you can select as many times on the same date as you want.

[2016-09-19 13:44] sfirrin commented on #19
I just submitted a pull request.

[2016-09-19 20:09] sasjkia opened #50 "Create polling location finder on RIDER signup form in MASTER BRANCH AND DEVELOP BRANCH"
So riders can know where they will need to go on election day, we need a polling location finder accessible on the signup form.

Each state has a different site to check polling location. The full list is accessible here: https://docs.google.com/spreadsheets/d/1yk7mxt0kOK_HeLUbQrgjYXNMnjPxFv-gsGg7pZ8S5TU/edit?usp=sharing

On the RIDER signup form, next to the Destination box, could we please creat

[2016-09-19 20:49] #47 closed

[2016-09-19 20:50] #20 closed

[2016-09-19 20:51] #21 closed

[2016-09-20 11:46] #46 closed

[2016-09-23 01:39] #40 closed

[2016-09-23 19:48] sasjkia opened #54 "Create Captcha in MASTER AND DEVELOP BRANCH signup forms for RIDERS and DRIVERS"
We need to verify that signups were not done by bots.

Please introduce a requirement for both riders and drivers to verify they are not a bot, after they've submitted the signup form.

Something like this is accessible for all levels of tech proficiency/literacy as well as mobile devices:
http://textcaptcha.com/

[2016-09-24 18:26] jkbits1 commented on #54
@sasjkia you are making a good point. Just a thought on this. Earlier this year I attended a conference where the speaker, who was blind, got the audience to use the audio version of the standard captcha widget. It was pretty much unusable.

[2016-09-25 09:39] sasjkia commented on #54
Thansk @jkbits1. Was that for a different Captcha or this one. If this one is not suitable, can you recommend another?

[2016-09-25 15:56] dbrusky1 commented on #50
I will do this later today.

[2016-09-25 23:17] jkbits1 commented on #54
Good questions. I'll contact the speaker via twitter and hope they suggest something. I'm aware that it's not ideal to comment without a better alternative, but it may relevant to quite a few riders.

[2016-09-26 14:30] jkbits1 commented on #54
@sasjkia the speaker has replied and offered some helpful suggestions. http://textcaptcha.com is the preferred choice. Google's nocaptcha has benefits but is desktop only for now.

[2016-09-27 13:45] sasjkia opened #58 "Make some updates to "Are you registered" drop-down section"
Change "Are you registered?" to headline style (same as "Need further support" style.

Add paragraph text: "Select your state check if you're registered to vote on the November 8 presidential election"

Move "Are you registered" section to above the Rock the Vote stuff

Change the links from the state dropdowns so they start a new tab when selected, rather than leading the user away from the Carpo

[2016-09-28 00:16] sasjkia commented on #58
@dbrusky1 perfect! forgot to ask: could the "Am I registered" bit be above the text etc - like a headline?

[2016-09-28 00:35] jkbits1 commented on #54
@sasjkia great, happy to help!

[2016-09-28 11:00] lili2311 commented on #50
@dbrusky1 I assume this is assigned to you? Do you mind assigning the ticket to yourself so we don't think it is available to pick up :)

[2016-09-28 16:39] dbrusky1 commented on #50
thanks didnt know about that.

[2016-09-28 22:47] #44 closed

[2016-09-28 23:06] sasjkia commented on #58
thanks @dbrusky1 for your work on this! :)

[2016-09-28 23:06] #58 closed

[2016-09-28 23:08] sasjkia commented on #45
Thanks for doing this @dbrusky1. Have you notified the backend? (we need to do this for any changes made the the main branch). Also, is there a way for the zip code numbers box to not have arrows on the side?

[2016-09-29 15:06] dbrusky1 commented on #45
I will let them know.  Glad to Help!

[2016-09-29 15:06] #45 closed

[2016-10-01 15:29] sasjkia opened #72 "Incorporate advice from disability orgs - MASTER BRANCH AND DEVELOP BRANCH"
In DRIVER signup form, change "I am able to transfer a person with a wheelchair into my vehicle" to
"I have an adapted van with space for a powerchair"

In RIDER signup form, change the text input box back to a check box (it's unlikely that more than 1 wheelchair user will need to travel in the same vehicle)
Keep the style the same as the DRIVER form - "Wheelchair" to the left of the check box, "I

[2016-10-01 15:44] sasjkia opened #73 "Delete voting support box - MASTER BRANCH"
The information in the voting support box appears twice. Delete the voting support box.

[2016-10-01 15:52] sasjkia commented on #19
@sfirrin could I check, has your work on this also incorporated issue #18?

[2016-10-04 22:02] misteranderson commented on #72
I have a update in progress including these changes.

[2016-10-05 13:53] dmilet opened #75 "Rider signup form to use boolean checkbox for need wheelchair"
On the rider form, we should ask how may seats are needed (TotalPartySize) , and if wheelchair is needed (NeedWheelchair)

Checkbox name should be called : NeedWheelchair

<div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="NeedWheelchair" value="false" id="NeedWheelchair">

[2016-10-07 19:43] richardwestenra opened #80 "Move forms into their own pages?"
I'd like to suggest that we move the two homepage forms into their own pages (at `/offer-a-ride/index.html` and `/need-a-ride/index.html` or similar). Instead of using JS to show the forms, each of the main buttons would be a link.

## Pros:
- You get a working back button and sensible browser history for free.
- Your URL routing is taken care of.
- No need to write any UI logic.
- Shorter, more s

[2016-10-07 20:14] misteranderson commented on #75
Is this still valid?  I thought there was a change talking about a powerchair, and the notes box for other accommodations.

[2016-10-07 20:19] misteranderson commented on #18
Do we actually want to restrict the calendar of available dates; what if the rider needs a ride to get an ID?  What if the user can be picked up prior to poll opening time, to be there when polls open?

[2016-10-07 20:23] sasjkia commented on #18
This is fair and I have been grappling with it. We don't want people to be signing up in pointless ways...

Perhaps a solution would be to add the option to check/display early voting dates and and polling times for their states.

[2016-10-08 02:08] dmilet commented on #42
Updated DB schema accordingly.
RiderPreferredContactMethod | character varying(20)

RIDER form, the input element name should be RiderPreferredContactMethod
@sasjkia :
Values should be one of
[blank]   <--- DB will allow this, but do you want to allow this in the UI ?
Email
SMS
Phone

[2016-10-08 02:14] dmilet commented on #43
Back end is OK.
For the DRIVER form, make sure you use those input names  :
DrivingOnBehalfOfOrganization (checkbox)
DrivingOBOOrganizationName (text box)

For RIDER form, please make sure you use
RiderIsVulnerable (checkbox)

[2016-10-08 02:17] dmilet commented on #50
What data would you need to submit to the backend for this ?
Right now, DRIVERS indicate ZIP code and radius, while RIDERS indicate pickup ZIP code and drop-off ZIP code.
Please let me know.

[2016-10-08 02:20] dmilet commented on #54
Anything needed on the backend side to support this ?

[2016-10-08 02:28] dmilet commented on #72
DB Schema has been updated to support this.
On the DRIVER form, the checkbox control name should be DriverCanLoadRiderWithWheelchair
On the RIDER form, the checkbox control name should be NeedWheelchair, and the notes textbox name should be RiderAccommodationNotes

[2016-10-08 02:32] dmilet commented on #75
Closing as duplicate of Issue #72

[2016-10-08 02:32] #75 closed

[2016-10-08 07:14] dmilet opened #81 "date/time intervals on rider/driver forms to be submitted in ISO8601 format"
Example of such format
2016-10-01T08:00:00-0500/2016-10-01T10:00:00-0500

Right now, no data is sent in AvailableRideTimesJSON and AvailableDriveTimesJSON elements.
No matching can happen without properly formatted data.

[2016-10-08 11:45] #43 closed

[2016-10-08 12:03] sasjkia commented on #42
mmm... i think multiple checks would be ok but not none

[2016-10-08 13:11] dmilet opened #82 "Need drop-down to polling station locator + rider form design to hold address"
needed for the demo
Best I have seen is on master branch, commit 269e1aa
is a long list or hyperlinks, 1 per state,  added in the middle of the rider form. The links open a new tab. But the rider form does not have all address fields, a single field for the entire address. There is something like "collection zip code though"

purpose of this issue is to agree on the design of the UI elements and d

[2016-10-10 18:39] #18 closed

[2016-10-10 18:39] #19 closed

[2016-10-10 18:39] #29 closed

[2016-10-10 18:39] #30 closed

[2016-10-10 18:39] #31 closed

[2016-10-10 18:39] #32 closed

[2016-10-10 18:41] #33 closed

[2016-10-10 18:56] #35 closed

[2016-10-10 18:58] #36 closed

[2016-10-10 18:59] #38 closed

[2016-10-10 19:02] #39 closed

[2016-10-10 19:08] #41 closed

[2016-10-10 19:08] #42 closed

[2016-10-10 19:08] #48 closed

[2016-10-10 19:09] #50 closed

[2016-10-10 19:09] #72 closed

[2016-10-10 19:09] #73 closed

[2016-10-10 19:15] sasjkia opened #86 "Shorten Our Story text and move bulk of content to separate page"
**Text for home page**:
In many states, new voting rules have made it more difficult for people to get to polling stations. These rules particularly affect People of Color, People with Disabilities, Young People, Elderly People, and Women.
Carpool Vote is a tool to fight back against an unfair political system in the 2016 election.

We connect volunteer drivers with anybody who needs a ride - to t

[2016-10-10 19:19] sasjkia opened #87 "Change How can I support the movement box"
This box should be moved to the left, underneath the OUR STORY box

**HOW ELSE CAN I SUPPORT THE MOVEMENT?**

Firstly, tell your family, friends, colleagues, and strangers! And share us on social media! The more people who know about us, the better our chances of making this project work for as many voters as possible! 

_[Twitter, Facebook, and YouTube links:
https://twitter.com/carpoolvote
https

[2016-10-10 19:22] sasjkia opened #88 "Move VOTING SUPPORT box to underneath the HOW TO CLAIM YOUR VOTE BOX"
Both are voting resources and should be kept top-right

[2016-10-10 19:25] sasjkia opened #89 "Add polling hours lookup hyperlinks to driver and rider froms"
Add the following hyperlinked text next to the date/time picker in both the driver and rider forms

Early voting dates
_http://www.dailykos.com/story/2016/08/18/1561647/-Early-Voting-Calendar_

Polling times
_https://ballotpedia.org/State_Poll_Opening_and_Closing_Times_(2016)_

Some voters may need a ride outside of polling times, to get photo I.D. Click to see the rules in your state.
_https://ba

[2016-10-10 19:30] sasjkia opened #90 "Add Home page navigation link and remove Support link"
To the left of the other navigation page links, add _Home_
People may want to return to the home page from whatever part of the site they're on

Remove the _Support_ link
No current plans for a separate pate

[2016-10-10 19:31] sasjkia opened #91 "Create Captcha in signup forms for RIDERS and DRIVERS"
We need to verify that signups were not done by bots.
Please introduce a requirement for both riders and drivers to verify they are not a bot, after they've submitted the signup form.

Something like this is accessible for all levels of tech proficiency/literacy as well as mobile devices:
http://textcaptcha.com/

[2016-10-10 19:32] sasjkia opened #92 "Change text at the top of the driver and rider signup forms"
**Riders:**
Need a ride to claim your vote?
Some of our riders need to get to the polls - either on polling day or during early voting. Others need to travel to get a photo I.D.
Just fill in this form! We'll try to connect you with a driver.
_[HOW DOES IT WORK?] button hyperlinks to explanation page_

**Drivers:**
Sign up to give a fellow American a ride to claim their vote.
Offer to drive someone

[2016-10-10 19:32] sasjkia opened #93 "Create youtube social media button"
This should be placed next to the Facebook and Twitter buttons

https://www.youtube.com/channel/UCY1aS3TMDGxVbckA7Va0QFA

[2016-10-10 19:33] sasjkia opened #94 "Add election countdown to home page"
Use the code below:
http://www.270towin.com/2016-countdown-clock/

[2016-10-10 19:40] sasjkia opened #95 "Remove the NEWSLETTER box on home page"
It is sufficient to keep the signup form in the footer and remove the extra one above

[2016-10-10 19:43] sasjkia opened #96 "RIDER signup form updates"
- [x] Add rider address text input with Label 'Pick up address' and `name="RiderCollectionAddress"`, immediately above the pick up zip code.
- [x] Remove state drop-down: We no longer need this, now that we also have a polling location lookup
- [x] Add notes box just before Personal details section:
Notes: [Temporary text inside box: I have the following accommodation requirements (ex: service ani

[2016-10-10 20:55] sasjkia commented on #96
@dmilet are these ok with the backend?

[2016-10-10 21:18] sasjkia opened #97 "DRIVER signup form updates"
- [x] Change vehicle registration # to Driver's license number
- [x] Move Driver's license number box to underneath insurance confirmation
- [x] Change Organization registration number to Organization name (this appears when official org box is checked)
- [x] Add check box next to other legal ones: I understand that Carpool Vote provides introductions between riders and volunteer drivers who have

[2016-10-10 21:19] sasjkia commented on #97
@dmilet are these ok?

[2016-10-11 09:15] richardwestenra commented on #93
I'll take this.

Note to self for later: Use the button available on https://developers.google.com/youtube/youtube_subscribe_button

- Channel ID: `UCY1aS3TMDGxVbckA7Va0QFA`
- Layout: `Default`
- Subscribers: `hidden`.

Example embed code:
[code]

[2016-10-11 21:43] dmilet commented on #96
Item#4. Does the form need to do the zip code->city lookup? I suppose the frontend guys would be able to do it, but we also have loaded in the db info about all zip codes, so the back end could add the information to the ride request record at form submission.
Unless we want the user to be able to visually verify they have entered the correct zip code.
And do you want the city name also for destin

[2016-10-11 22:26] sasjkia commented on #96
@dmilet it's necessary for origin zip code to show up in driver notification but not at frontend input stage. Backend only could work but it could be useful to limit room for error by also populating at the frontend input stage.

The ideal would be for the user to input the destination location/address and then the zip code/address would autopulate (most people know their own zip code but not the

[2016-10-11 22:30] sasjkia commented on #96
For whoever takes this issue: "Any form change is acceptable as long as it does not remove or rename any of the form input controls. new fields would be ignored until the backend is aligned, which is ok for the demo I think."

[2016-10-11 23:10] sasjkia commented on #97
For whoever takes this issue: "Any form change is acceptable as long as it does not remove or rename any of the form input controls. new fields would be ignored until the backend is aligned, which is ok for the demo I think."

[2016-10-12 10:31] richardwestenra commented on #96
@dmilet / @sasjkia How do you see task 1 (state dropdown removal) working? The polling location lookup is just a list of links, it doesn't populate anything for the form.

However I could imagine keeping the state dropdown in place and replacing the polling location lookup with a link that's populated and shown only when you select the relevant state from the dropdown. Thoughts?

[2016-10-12 12:01] dmilet commented on #96
Richard, I like either approach. Seems to me, people are used to identifying their state by their two-letter code. The rider form should be clear what information is expected. Either full address, or not, matching will be based on zip code only.

[2016-10-12 13:03] sasjkia commented on #96
@richardwestenra state is not used for matching... i think that is zip code. @dmilet am i right?
so, i think we can just remove the state drop-down and then that removes a step if people already know where they need to go.

[2016-10-12 16:17] dmilet commented on #81
Expected format by the backend: Pipe-separated string of ISO8601-formatted intervals with timezone. For example : 2016-10-01T08:00:00-0500/2016-10-01T10:00:00-0500|2016-10-01T10:00:00-0500/2016-10-01T22:00:00-0500|2016-10-01T22:00:00-0500/2016-10-01T23:00:00-0500

[2016-10-12 21:08] jkbits1 commented on #81
@dmilet assigning this to myself to resolve it, if only for the short term

[2016-10-13 01:31] jkbits1 opened #100 "Driver allows form submit with invalid destination zip code"
Collection zip code is enforced and shown to user. Destination is not shown and is allowed when invalid

[2016-10-13 01:34] jkbits1 opened #101 "Rider prevents form submit with invalid collection zip code but does not highlight as error"
Rider form does not highlight an invalid zip code but prevents form submission

[2016-10-13 15:23] #81 closed

[2016-10-13 21:20] jkbits1 commented on #81
@dmilet this PR https://github.com/voteamerica/voteamerica.github.io/pull/106 addresses rider dates

[2016-10-13 21:52] jkbits1 opened #107 "Form allows submission when DriverCollectionRadius is zero"
Is this valid?

As I'm checking for it now in the node app, I want to sanitise to a sensible default.

[2016-10-14 11:16] dmilet opened #109 "TimeZone in collected date/time intervals"
Noticed that in the most recent versions, the date/time intervals are received at the backend in "ZULU" time,
2001-10-12T05:00:00.000Z/2001-10-12T21:00:00.000Z

It is different from a format like this that indicated the offset from UTC
2016-10-01T02:00:00-0900/2016-10-01T03:00:00-0900

Fortunately, there is no impact on the backend matching engine as it splits on the / separator at position 25

I

[2016-10-14 12:21] richardwestenra commented on #109
This a very good point! 👍

From what I can tell (based on googling it right now), Zulu time == UTC time, so the actual time should be the same even if the format is slightly different. I hope the different format won't break anything for you on the back end?

As for the timezone conversion:
It seems to me that when the time slider is selecting times, the user's current time zone is irrelevant, bec

[2016-10-14 12:41] dmilet commented on #109
For rider with UUID in carpool db, here is the time interval that is stored in DB:
2016-10-24T16:00:00.000Z/2016-10-24T10:00:00.000Z

The dates entered however were Oct 24th, 12pm-6pm, and I am in MYT (GMT+8 I think)
See the pdf with the screen shot I put in the demo folder
In any case, it does not match at all

[2016-10-14 12:41] jkbits1 commented on #109
@dmilet from memory, I think moment may record all times in utc time. it's probably best we all put some dates in at some point and double check

[2016-10-14 12:43] dmilet commented on #109
For driver with UUID be82961a-fc7e-40ac-8500-8086a17aef89 in carpool db, here is the time interval that is stored in DB:
2016-10-24T16:00:00.000Z/2016-10-24T10:00:00.000Z

https://api.carpoolvote.com/v1.1/match-driver/be82961a-fc7e-40ac-8500-8086a17aef89

The dates entered however were Oct 24th, 12pm-6pm, and I am in MYT (GMT+8 I think)
See the pdf with the screen shot I put in the demo folder
In

[2016-10-14 12:59] dmilet commented on #109
If possible I would collect dates from the webpage including timezone information, like this
2016-10-01T02:00:00-0900/2016-10-01T03:00:00-0900

Postgres is able to interpret the included timezone information and therefore can compare times across time zones.

[2016-10-14 23:14] sasjkia opened #110 "Match didn't show up"
uuid
rider:c915e667-af66-46d2-a4e3-a274dd471295
driver:9c5f337f-3f22-458a-bc3e-8c17e81317d5

entered same variables as the ones tested just after 7pm bst. worked first time. when tried again just after 8pm (zip code 24540 for rider and 24541 for driver)

rider showed up in matching database but not driver.

[2016-10-15 00:45] jkbits1 commented on #101
great, will test this out soon

[2016-10-15 01:18] dmilet commented on #110
Acknowledged.
2nd rider was matched with 1st driver, and 2nd driver was starved, because all ride requests were matched to the 1st driver.

I'll fix it in the next revision.

carpool=# select * from nov2016.match
carpool-# ;
  state   |             uuid_driver              |              uuid_rider              | score
----------+--------------------------------------+-----------------------------

[2016-10-15 06:55] dmilet opened #111 "Phone number format validation"
@sasjkia was suggesting we use the phone number as verification method when a user wants to cancel his/her drive offer or ride request. The phone number will be matched with the UUID that the user is supposed to know.
If the backend must perform validation on the phone number, we should enforce a syntax for phone number on the user interface. For example xxx-xxx-xxxx

[2016-10-15 21:55] sasjkia opened #112 "YouTube link is broken"
Doesn't lead anywhere when clicked.

Format strange upon hover.

[2016-10-16 11:20] richardwestenra commented on #112
That is super weird! That wasn't at all how it was behaving when I added it. I wonder whether they just updated it yesterday? :(

💩 okay I'll look into it. Worst case scenario, I'll need to remove it or roll my own.

[2016-10-16 11:28] richardwestenra commented on #111
I would recommend not forcing people to follow an unfamiliar syntax when entering their phone numbers in the form. I've never encountered a form that requires me to enter dashes.

When performing validation (on the front or back end), we should err on the side of allowing false negatives (invalid phone numbers) rather than preventing users from entering a genuine human-readable phone number. If th

[2016-10-16 11:29] #93 closed

[2016-10-16 11:29] #94 closed

[2016-10-16 11:33] richardwestenra commented on #90
idk, let's talk about this.
1. There is currently already a link to the homepage: It's the logo. This is common UI design practice and should be reasonably familiar to users.
2. We don't currently have any other pages in the site, really. We need to sort out form history/routing navigation because it's currently woeful, but that's a separate issue that I want to address.
3. We can remove the Suppo

[2016-10-16 11:34] #97 closed

[2016-10-16 11:40] #95 closed

[2016-10-16 11:51] sasjkia commented on #90
1. Ok - you're the expert :)
2. True. I had hoped to have some more pages (see other issues); this also helps with SEO.
3. Let's redo these links once the page/site layout is finalized?

[2016-10-16 14:49] dmilet commented on #111
Sanitize is ok of course, as long as we have a consistent way of doing it, so that we are able to match the phone number when it's used for verification purposes. I'll leave it to the front end experts to decide what's the best way to achieve it.

[2016-10-16 15:37] jkbits1 commented on #90
Just commenting as I used the site for the first time when entering riders and drivers a few days ago so I came to the UI fresh.

It did feel slightly unintuitive and jarring to enter rider or driver info and then choosing to return to the main page. For me, this is because we have the logo in the middle and nothing in the top left corner, so I had to think consciously about clicking on the logo.

[2016-10-16 19:17] jkbits1 commented on #109
@dmilet related to your comment about non-matching times (2 above this comment) there is a bug with midday times that is resolved by this PR (not merged yet as another demo may be under way at the time of writing this)
https://github.com/voteamerica/voteamerica.github.io/pull/115

[2016-10-17 12:38] richardwestenra commented on #88
Fixed in PR #116

[2016-10-17 12:38] #88 closed

[2016-10-17 18:12] timkeane opened #118 "iframe for map inclusion"
the sample map can be included in an iframe on any page desired.
src attribute of the iframe should point to carpool-map/index.html page https://github.com/voteamerica/voteamerica.github.io/blob/master/carpool-map/index.html

note that the data currently displayed on the map is mock data and it must ultimately be provided
from the backend in some fashion. carpool-map/js/map.js will require updates

[2016-10-17 21:26] sasjkia commented on #107
I think so... it's the radius from the zip code - so i think the person would only be collecting in their own zip?

perhaps others could also wade in?

[2016-10-17 21:28] sasjkia commented on #107
but we'll be changing the default to a wider radius / or to blank ad then force an entry

[2016-10-17 21:29] sasjkia commented on #96
lovely progress here! <3 i think we'll need the final amendments before we can pass on csv for partners to populate. could we prioritise these now?

[2016-10-17 21:31] #54 closed

[2016-10-17 22:05] sasjkia opened #121 "Change background picture for Souls2ThePolls.org site"
## Description
The souls2thepolls.org audience relates to slightly different visual cues in terms of geography.

Please use the following picture: https://www.pexels.com/photo/road-street-forest-trees-7045/

## Development notes:
- Please ensure that the image is properly optimised for web. It might be worth optimising the existing bg image as well while you're at it, as I'm not sure that it's bee

[2016-10-17 22:45] richardwestenra commented on #112
If anyone else wants to give this a shot, go ahead, else I'll get to it when I can. If we can make the button work properly again, great, else I'm tempted to just make our own button in the exact same style as the existing youtube button (e.g. see below)
![image](https://cloud.githubusercontent.com/assets/1155816/19458403/b7e3d094-94c3-11e6-9e3f-970dbc895a2c.png)

See #93 for details about the ori

[2016-10-17 22:50] sasjkia commented on #112
that works - as long as edges are rounded

[2016-10-17 23:11] richardwestenra commented on #101
@jkbits1 Can you confirm this issue is resolved?

[2016-10-17 23:43] richardwestenra commented on #96
@sasjkia I'm still a little unsure about what exactly is required for the address/zip code lookup. Can you please clarify how you see this working? It might be worth discussing the user flow here. There are APIs we can use for this sort of thing (e.g. http://www.zippopotam.us/ which gives a place name when you provide a ZIP code) but I'm unsure about the UI. Maybe let's discuss over Slack?

[2016-10-18 00:26] valterlima commented on #112
Got this error message:

[2016-10-18 01:11] dmilet commented on #107
Setting the radius to a large value (like 50 miles) will artificially increase the limit of proposed matches, which might be irritating, because the list might get quite long.
I'd rather have a default of 0, thereby giving the highest scores within the driver's zip. Additional matches will be proposed, with a lowered rank.

[2016-10-18 09:10] jprivillaso commented on #87
Do you mean the actual 'CAN I HELP SOME OTHER WAY?' content must be changed with these new information, right ?

[2016-10-18 10:06] sasjkia commented on #96
@richardwestenra the main aim here is for the driver to receive more information than just the zip code, when there's a ride request (as it's quite tricky to know where you're meant to be driving, based on a zip code, and there won't be a map in these messages).

Is it possible for the system to guess the zip code from the address (or even better - name of place; e.g., dmv danville, va/danville hi

[2016-10-18 10:07] sasjkia commented on #107
@dmilet agreed. Or set to blank, to force people to think about it or select a value.

[2016-10-18 11:16] richardwestenra commented on #100
@jkbits1 This should have been fixed in #103, can you please confirm?

[2016-10-18 11:19] richardwestenra commented on #92
Note that the two intro boxes have a minimum height set in the CSS to ensure that they're the same height, so when updating the text, please remember to check/update the `min-height` value as well 🙂

[2016-10-18 12:53] dmilet opened #124 "Big blue Add [Time] button is not intuitive"
On my screen (Chrome Browser) the location of the Add [Time] button is top right compared to where my eyes are when I use the slider to select time.
I naturally move my eyes down the page
Blue button is overlooked.
Submit button still worked, and form was submitted without time information.

rider payload: {
    "_redirect": "file:///C:/Users/David/Desktop/voteamerica.github.io/index.htmlthanks.ht

[2016-10-18 13:19] sasjkia commented on #124
We should also not allow for submissions without time input.

[2016-10-18 13:42] dmilet opened #125 "Delete Time (red cross) does not delete time entry from AvailableDriveTimesJSON"
I tested this on the DRIVER side only.

I had a form which I had submitted with one time interval only.
Went back to the form, added 2nd time interval, then removed the first interval.

Both intervals were submitted.

driver payload: {
    "_redirect": "file:///C:/Users/David/Desktop/voteamerica.github.io/index.htmlthanks.html",
    "DriverDate": "Monday, Oct 24",
    "AvailableDriveTimesJSON": "2

[2016-10-18 14:16] richardwestenra commented on #124
@sasjkia @dmilet I totally agree with you! It’s been bugging me too, but I’ve been trying to focus on other stuff in the meantime. My suggestions:

1. Quick fix: Revert to one column, so you don’t miss the button. It would look like it does on mobile.
2. Change the inline datepicker and range slider to a date input and two time inputs, and reveal the datepicker/timepicker UI elements only on focus

[2016-10-18 14:19] richardwestenra commented on #125
Good catch, thanks. I'll take this.

[2016-10-18 15:04] jkbits1 commented on #107
If it matches, then I'm much more relaxed about the default value. Still, to me zero suggests nothing happening from a UI point of view, whereas 1 or 2 has a clearer meaning.

What do our US contributors think? In the UK, 50 miles seems quite far, in the US it's considered much nearer (but still a bit of trip I'd think).

[2016-10-18 15:06] jkbits1 commented on #100
when last seen, this was still the case for driver. Will review and let you know

[2016-10-18 15:14] jkbits1 commented on #124
@richardwestenra I did prefer the button below the slider. When using the mouse it breaks the flow. I haven't mentioned before as the debate may never end :smile:

Overall, there is two issues here. One is the UI/UX of the the button. Second is the issue of allowing submission with no times (especially as the user may not be aware that this makes their submission totally pointless).

@dmilet @sasj

[2016-10-18 15:15] jkbits1 commented on #101
thanks for the reminder, I'm not sure and will review today

[2016-10-18 15:20] #121 closed

[2016-10-18 15:20] dmilet opened #127 "DateTime Calendar - date of Oct 5th is selected/highlighted when page loads"
What is special about Oct 5th?
It looks like the date/time picker knows about current date, because the blue Add button has current date, but the calendar highlights Oct 5th.

[2016-10-18 15:46] richardwestenra commented on #125
@jkbits1 I'd love to merge #117 (the datetime refactoring) before fixing this bug, as both involve simplifying the datetime JS. What do you think?

[2016-10-18 15:50] jkbits1 commented on #124
1. as above, don't want to play UI ping-pong :smile: so up to others

2. er, the slider may not be perfect but it seems pretty good to me. very visually intuitive. I've wondered about screen-readers etc . I'm taking a guess that people with issues like that are a larger than usual proportion of our users. still, we have phone assistance for people so others can enter the form info

3. I may have m

[2016-10-18 16:03] jkbits1 commented on #125
@richardwestenra the date/times are essential for the matching engine to work, and without the time to create tests this code is vulnerable to changes/improvements.

I really don't want to refactor the date time code we have any time in the next few days/week. I'm still looking at further changes to the format provided for the backend. It's ok to take out variables that aren't used (or preferably

[2016-10-18 16:04] richardwestenra commented on #124
@jkbits1 I broadly agree. 👍 I think it's mainly just the lack of accessibility/standards-compliance of those components that bug me, but for now, as we're in a hurry and everything, they're perfect.

Regarding point 3, our current setup is using native `required` attributes for validation, with a veneer of Bootstrap Validator to improve support and styling. idk how well those two custom inputs wil

[2016-10-18 16:14] sasjkia commented on #124
@richardwestenra i thought the ui for this worked really well and it would be great if we could find a way to prevent people from submitting without an entry...

Re accessibility: What happens to the current version when you use screen readers?

[2016-10-18 16:28] richardwestenra commented on #125
@jkbits1  okay cool, thanks 👍

[2016-10-18 16:32] richardwestenra commented on #124
@sasjkia ok cool. I'm working on the validation right now.

As for accessibility: The datepicker might be accessible for blind users, but I'm not sure. The range slider is completely hidden/unusable for screenreader users.

[2016-10-18 16:45] sasjkia commented on #124
Could we have the option to click a link to switch to sreenreader-friendly version and then they manually input timeframes for each date selected?

i think the current version is really elegant and achieves everything we want to achieve but of course there needs to be the option for people with visual disabilities.

[2016-10-18 17:43] richardwestenra commented on #124
Yeah there are ways we could make this work properly for people with disabilities but it would require quite a significant time investment.

I probably wouldn't have a link to click to view the screenreader version, I'd add a hidden accessible version. But once you've made a working accessible alternative, you probably might as well replace our existing version with it.

Sorry, I'm not saying we s

[2016-10-18 17:55] jkbits1 commented on #124
screen-readers and their users are an important issue and I've tried hard to consider that for other issues. However, from my perspective (which may be incorrect) we've gone with this approach for so long it's going to be hard to change course this close to the deadline.

we are looking to have phone line support, perhaps we could flag to screen-reader users that it is an issue. at least it would

[2016-10-18 18:28] langdonms opened #129 "Screen-reader friendly banner box titles"
When tabbing through the website using the built in Windows screen reader, the tab readings skip from  "I need a ride", "I can offer a ride," straight to the "Name" "Email" forms on the "Can I help in some other way" volunteer box. This would be confusing if you thought that was the signup form as a rider/driver and not the volunteer form. Propose making the banner titles tab-able so visually impa

[2016-10-18 21:10] sasjkia opened #130 "Change text in DRIVER and RIDER boxes on the landing page"
We need to be as clear as possible in helping people understand why we're doing this.

**RIDER box:**
Need a ride to the polls or voter I.D. office?

Fill in the form to let us know when and where you need a ride. We’ll do our best to match you with a driver!

** #DRIVER box:**
Do you have a spare seat to help get somebody to the polls or voter I.D. office?

Fill in the form to let us know when an

[2016-10-18 21:16] sasjkia opened #131 "Change the text that appears after submission of the RIDER form"
Please change to the following text

**RIDER**
CONGRATULATIONS
on taking this step to claim your vote!

We’ve sent you a message confirming that we’ve received your request.

Your ride request reference number is: [insert from URL after form submission]
Please keep this reference in case you need to manage your ride request.
To view or manage your ride request, visit our [self-service portal: http

[2016-10-18 21:54] dmilet commented on #109
Current situation as of Oct 18 is that times are converted to UTC inside the web page and sent without tz information to the server.
The server's clock is utc, which is perfect to identify the expired records.

However, we need to report back the times to drivers and riders in local times.
There will be notifications sent by email and SMS, so the server must be able to convert utc back to the time

[2016-10-18 21:54] sasjkia opened #132 "RIDER signup form text updates"
- [x] Change "When and where do you need picking up?" to "Your trip"
- [x] Underneath "Dates" heading, add "On what date(s) would you be a available for the ride? Please pick all the dates that could work for you: This will make it easier for us to match you with a driver."
- [x] Underneath "Time slots" heading, add: "Which times slots on this date would you be available for a ride? You can pick m

[2016-10-18 22:11] sasjkia opened #133 "DRIVER signup form text updates"
- [x] Change "When and where can you pick someone up?" to "What can you offer?"
- [x] Change "Date available" to "Dates available". Underneath this heading, add: "On what date(s) would you be a available to give rides?" We'll propose matches for all of the dates that you pick."
- [x] Underneath the "Time range available" heading, add: "Which times slots on this date would you be available to give

[2016-10-18 22:12] dmilet commented on #109
I have a free trial account on https://developer.worldweatheronline.com/my/
They have an API we can use, it takes zip as input. Free for 2 months

Anyone willing to give it a shot?
Data should be pretty static so I'm thinking about preloading the data into our db, then update after clock change on nov 6

[2016-10-18 22:14] dmilet commented on #109
Ok, looks like the most I can do is 500 lookups per day during free trial.
Any other idea?

[2016-10-18 22:17] dmilet commented on #109
Found this
http://stackoverflow.com/questions/2456324/mapping-us-zip-code-to-time-zone

Looking...

[2016-10-18 22:21] dmilet commented on #109
Ahah
Thank you Google again
https://maps.googleapis.com/maps/api/timezone/json?location=40.704822,-74.0137431&timestamp=0

[2016-10-18 22:26] dmilet commented on #109
I am convinced we should store times in utc in database, then convert when we generate data out of it

[2016-10-18 23:52] jkbits1 opened #134 "Driver prevents form submit with invalid collection zip code but does not highlight as error"
all this is FYI btw, but probably can confuse user (comments while checking https://github.com/voteamerica/voteamerica.github.io/pull/128)

on submitting with no fields collection zip is not shown as red. page does not scroll automatically to collection zip
on submit with empty date/times and empty collection, screen pauses at submit button. not clear there is an error.
finally, added date/time, a

[2016-10-18 23:54] jkbits1 commented on #100
resolved, thanks @richardwestenra :+1:

[2016-10-18 23:54] lhmzhou commented on #134
My screen also pauses. A glitch possibly?

[2016-10-18 23:55] #100 closed

[2016-10-18 23:58] jkbits1 commented on #101
great @richardwestenra this is resolved :smile:

[2016-10-18 23:58] #101 closed

[2016-10-19 02:22] maxliving commented on #109
I'm new to the project, but it seems like you can knock out the vast majority of cases by taking advantage of the fact that time zones are generally the same within a state, so you can have a 50-row table from state -> tz, and then just look up the user's state. You can filter out states for which this isn't a guarantee, but that should get you most of the way there.

[2016-10-19 09:38] richardwestenra commented on #109
@dmilet I'm with you on this, we should be storing the user's timezone info.

However rather than using an external library/API, could we perhaps use a native JS API like [Date.prototype.getTimezoneOffset()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTimezoneOffset)?

Btw I've got an active datetime refactor PR open (#117) - if we're changing the way w

[2016-10-19 10:38] richardwestenra commented on #129
I don't believe it's necessary to make something tab-able in order to make them readable for visually impaired users, because an experienced screenreader user won't just be using tab to navigate - they can also browse any other properly marked-up content on the page, e.g. headings, paragraphs, etc.

However you raise a very good point! The accessibility on this site is woeful, and there are some s

[2016-10-19 10:50] erikathea commented on #80
If we are to push with this, I suggest to make a common.css or common.js to eliminate the 2nd con listed. For the first con, better to get feedback from the users but I believe we are somehow psychologically trained by now that when we click a button, another page loads, and it should load fast.

[2016-10-19 10:52] richardwestenra commented on #124
+1 @jkbits1. idk whether we actually have enough time for this before the election, with everything else that needs doing :(. I would love this site to be perfectly accessible but we've inherited this code and don't have time to change everything.

For what it's worth, this is a bit closer to what I was envisioning:
![image](http://g.recordit.co/qBRUKuSx6C.gif)
(Except imagine it with ❌ delete but

[2016-10-19 11:05] dmilet commented on #109
So would the form be able to add a hidden field with the information?
I think we'd still have to worry about about winter time change on Nov6 however, because the timezone offset changes between summer and winter time.
Do you think it would work if we would store both the local time (without time zone info) and the UTC time? UTC time would be used by the matching algorithm, and the local time will

[2016-10-19 11:19] richardwestenra commented on #80
Yeah we are definitely planning to move the JS into a separate common file, as soon as we can. The styles.css file is pretty much already valid as a common CSS file so there's nothing extra required there.

As for the first con: I completely agree. I've actually done a bit more work to improve the form navigation since I first suggested this approach, so I think I'll shelve this plan for now.

[2016-10-19 11:19] #80 closed

[2016-10-19 11:28] richardwestenra commented on #134
ooh, good catch! I think this is due to two different issues:

1. On the driver form, there are two input fields (zip code and radius) within the same `form-group` row. We should separate these into two different rows.

2. I think the screen scroll glitch is because the hiddenJSONTimes text input is set to display:none. This can be fixed by hiding it a different way, e.g.
[code]

[2016-10-19 11:41] richardwestenra commented on #109
The form could totally add a hidden field with the time zone offset. e.g. `new Date().getTimezoneOffset()` returns a number indicating the offset in minutes (e.g. `-60` for me). If you prefer to do the zip code approach then you could do that on the back end, right?

argh, time zone changes :(. I think we might be overthinking this. Would it cause any issues for us to just interpret the times as p

[2016-10-19 11:48] dmilet commented on #109
I can't prevent the matching engine from evaluating potential matches across adjacent states (unless we explicitly want to code such a rule, but I don't think so).  If the 2 states are not in the same time zone, of time offset from UTC, comparison of times is incorrect. That's why I'd rather compare UTC values, which is also how the VM server is set (helps identify expired data)

[2016-10-19 11:57] richardwestenra commented on #109
ah ok, gotcha. So would the following work for you?
1. Get the timezone offset with `new Date().getTimezoneOffset()`, and save it to a hidden field.
2. Add the timezone offset to the timepicker value, then save it as a UTC time.

However I really have no idea how we handle daylight savings time changes. I feel like that's potentially a bigger issue than cross-state timezone mixups, because it woul

[2016-10-19 12:51] dmilet commented on #109
I'd like to have two hidden fields in the form
1. the existing one, containing the UTC values- no change needed
2. a new hidden field with the same structure as the previous one, with values expressed in local time. (after computation with getTimezoneOffset() I think, unless the picker can deliver the values in local time directly)

But you're right, winter time switch may be a problem.
Say, on No

[2016-10-19 13:02] richardwestenra commented on #125
This issue should be fixed as of #128.

[2016-10-19 13:02] #125 closed

[2016-10-19 13:06] richardwestenra commented on #91
I'm considering this a low priority for now, because we haven't encountered a bot problem yet. Obviously we should try to prevent the issue ever occurring, but in the meantime I'd argue that we have more pressing concerns.

[2016-10-19 13:32] loganbyers commented on #109
I started pulling UTC offsets from Google's API using zipcode lat/lons from [2016 census data](http://www.census.gov/geo/maps-data/data/gazetteer2016.html). Unfortunately they shut me off temporarily. Their [usage page](https://developers.google.com/maps/documentation/timezone/usage-limits) limits the number of calls to 2500/day. They also limit request frequency. Their [use policy](https://develo

[2016-10-19 14:43] richardwestenra commented on #130
Completed by @JackOddy in PR #136

[2016-10-19 14:43] #130 closed

[2016-10-19 14:44] jkbits1 commented on #109
@richardwestenra small point FYI on your most recent comment above this. I think we all google'd a lot on this yesterday :smile: that clarified for me that a lot of the time those functions are an offset rather than timezone info, and @dmilet mention daylight saving time in the US is soon!

[2016-10-19 16:12] richardwestenra commented on #112
@valterlima Yeah I've noticed that same issue. I did a lot of googling and experimentation but nothing I've tried has worked. I think the only thing for it is to make our own HTML/CSS button.

[2016-10-19 16:13] #132 closed

[2016-10-19 18:31] sasjkia commented on #91
@richardwestenra agreed :)

[2016-10-19 18:50] loganbyers commented on #109
I think I can approach the ZIP-UTC problem from a GIS perspective. I found some shapefiles of zipcodes and timezone boundaries. Hopefully it will be easy to specify the UTC offset(s) for each of the timezones and do a spatial join to pull that information into the zipcode feature attributes. Then export a CSV of {zipcode, utc_offset_summer, utc_offset_winter}. Working on it now...

[2016-10-19 20:50] sasjkia opened #140 "Fix typo on home page"
Flagged by a fan:

A fantastic tool. I did catch one typo that you may want to fix: in the box entitled "Voting Support" the following phrase appears: "Report voting problems, and get voting relating info for your state."

It should, of course read: "...get voting relatED info..."

[2016-10-19 21:13] maxliving commented on #109
What about using this dataset, which maps zipcode to timezone offset (e.g., -5) and also includes a flag for whether the zip observes DST? https://boutell.com/zipcodes/

[2016-10-19 21:46] #86 closed

[2016-10-19 21:49] #110 closed

[2016-10-19 22:22] dmilet commented on #109
Do all states switch to winter time the same day?
I am thinking that when we insert into the db, we can adjust the utc time depending on whether the date is after the time change if state observes summer time

[2016-10-19 22:27] johnkawakami commented on #109
Not all states have daylight savings time. https://en.wikipedia.org/wiki/Daylight_saving_time_in_the_United_States  And the Navajo do observe DST, even though they are in Arizona.

[2016-10-19 23:54] maxliving commented on #109
@dmilet you can use that zipcode dataset to adjust the utc time by zipcode rather than by state. Perhaps that's good enough?

[2016-10-20 00:06] richardwestenra commented on #133
@sasjkia Regarding the last point here, did you mean that we should completely delete the registered organisation checkbox and input from the form?

[2016-10-20 00:25] #140 closed

[2016-10-20 00:38] richardwestenra commented on #111
@dmilet Are you happy for me to close this issue? I'm not sure that anything more needs to be done on the front end, unless you really wanna push for some phone number format validation.

[2016-10-20 00:42] dmilet commented on #109
@maxliving I need help. I won't have time to work on this time issue until this week-end at the earliest. I need to focus on the core functions of the back end . Would you mind looking at the code, and see it you can address it ?

[2016-10-20 00:43] richardwestenra opened #142 "Update project readme and add documentation"
- [x] Add [contribution guidelines](https://github.com/blog/1184-contributing-guidelines) section
- [x] Add a code of conduct.
- [x] Add details about the project's aims, deadlines, contributors, how to sign up to the Slack group, and who to contact.
- [x] Add information in 'How to contrubute' about how to get the project up and running locally. (Personally I use [Browsersync](https://www.browser

[2016-10-20 01:03] dmilet commented on #111
We can close the issue now. I'm using  pattern matching to validate phone number when needed at the backend. No need to do special validation on the user form.

[2016-10-20 01:03] #111 closed

[2016-10-20 01:04] maxliving commented on #109
Yep, can you point me to the relevant files/sections?

On Wed, Oct 19, 2016, 8:42 PM dmilet <notifications@github.com> wrote:

--

Sent from my phone.

[2016-10-20 02:29] #129 closed

[2016-10-20 02:29] #134 closed

[2016-10-20 02:31] jkbits1 opened #143 "removed item dropdown.js still has a script link"
gets a network error and mention on console area

minor issue related to https://github.com/voteamerica/voteamerica.github.io/pull/137

[2016-10-20 02:34] jkbits1 commented on #134
great, thanks @richardwestenra :+1:

[2016-10-20 03:39] loganbyers commented on #109
Here is a text file that was created using the GIS method I described above.

[zip_utc_table_sorted.txt](https://github.com/voteamerica/voteamerica.github.io/files/540735/zip_utc_table_sorted.txt)

Source data:
[Zip Code boundaries from 2015](https://www.census.gov/geo/maps-data/data/cbf/cbf_zcta.html)
[Time zone boundaries](http://efele.net/maps/tz/us/)

Procedure:
Set UTC summer and winter field

[2016-10-20 04:05] Jason9199 commented on #112
While there is an error in the console, the button is working perfectly for me.

[2016-10-20 07:33] sasjkia commented on #133
@richardwestenra this should be hidden from the front end. We still need the entry in the database but not the option for anyone to input on the front end.

[2016-10-20 07:51] sasjkia opened #145 "Add "Preferred method of contact" to DRIVER signup form"
Preferred method of contact
- [ ] Email
- [ ] Phone
- [ ] SMS

This should look and be positioned the same is in the RIDER signup form

Please communicate with backend about this before merging

[2016-10-20 08:58] richardwestenra commented on #143
Good catch, thanks!

[2016-10-20 09:04] richardwestenra commented on #133
Ok I think I understand. Sorry, the confusion here is that in specific CSS dev terms 'hidden' and 'deleted' mean two different things, so @joesweeny has kept the input in the form but made it invisible (i.e. 'hidden'). I don't mean to be pedantic here, sorry!
I'm going to interpret you to mean that that it should be completely removed from the form, and that if people want to add this in the datab

[2016-10-20 09:19] srMarquinho commented on #112
It seems a to be Youtube issue. It is working on Google Chrome but not on Firefox.
The code is correct here and I may try an alternative solution.
You can try and have a go to check if the feature works for you here: https://developers.google.com/youtube/youtube_subscribe_button

[2016-10-20 11:42] #133 closed

[2016-10-20 11:42] richardwestenra commented on #133
Fixed in #139

[2016-10-20 12:24] #107 closed

[2016-10-20 12:32] sasjkia commented on #118
has this now been taken care of?

[2016-10-20 12:36] sasjkia commented on #87
yes please! :)

[2016-10-20 13:13] cyberplanner commented on #92
I'll do this one :)

[2016-10-20 13:20] richardwestenra commented on #92
@cyberplanner Hey, sorry, I think this is a duplicate of #130, which was completed yesterday! There's no longer any need to change this copy (right @sasjkia?)

[2016-10-20 13:20] #92 closed

[2016-10-20 13:25] richardwestenra commented on #145
@sasjkia I'm assuming that the email checkbox should toggle whether email is required, same as for the rider form?

[2016-10-20 13:30] cyberplanner commented on #92
Thanks @richardwestenra... good thing I said something first :+1:

[2016-10-20 13:35] richardwestenra commented on #92
Phew :)

[2016-10-20 14:13] #143 closed

[2016-10-20 14:13] #145 closed

[2016-10-21 02:07] maxliving commented on #109
I just realized I'm going away this weekend so won't be able to do much. One path forward is: add additional date range columns to the rider and driver schemas, one for availability pre-nov6, one for post-nov6 (for backfilling existing data it's probably fine to just copy and hope for the best). Then in the matching algorithm just have a switch based on whether now() is greater/less than 2016-11-0

[2016-10-21 06:57] suamorales commented on #112
Works fine for me. OSx & Chrome 53

[2016-10-21 06:59] sasjkia commented on #112
It's now working fine for me on Chrome 53. Still slightly strange formatting upon hover... Will check again when I get to work.

[2016-10-21 11:23] dmilet opened #148 "Preferred method(s) of contact and notifications"
This is issue is actually to clarify the requirements.

Do the "Preferred Method(s) of Contact" apply to communication between riders and drivers only, or should the system honor those preferences too?
Obviously the system cannot make phone calls...

I was planning to generate e-mail notifications if the user entered an e-mail address, irrespective of the "Preferred Method of Contact" choice from

[2016-10-21 11:39] sasjkia commented on #148
@dmilet my initial intention was simply to provider the driver with information on how to get in touch with the rider.

But then I thought the user stories you wrote made sense and could save us money.

Good point though - driver check boxes should have 2 options only: Email and SMS.

[2016-10-21 13:01] dmilet commented on #148
@sasjkia Since riders don't contact drivers, for whom do we collect the driver's preferred method of contact ?
And what do you mean the stories I wrote could save us money ?

[2016-10-21 13:15] sasjkia commented on #148
@dmilet from your stories, I understood that the driver preferred method of contact would allow us to tailor whether we send them sms or email notifications.

This would be cheaper if we paid per email/sms.

Of course, if this makes too much work for us, we could just skip the feature altogether and send them both.

For the riders, we should assume that the preferred method of contact is for the d

[2016-10-21 14:02] sasjkia commented on #148
@dmilet and for us to get in touch with rider, i would suggest sms at the minimum (as many may not have email) but both sms and email is preferable because they may give out a home phone number.

[2016-10-21 22:58] dmilet commented on #109
The times indicated by the user refer to local times on the selected day.
That means the forms must NOT perform time conversion to UTC (I may be in California when I plan to be in Virginia for the election) and submit local times without timezone information to the back end.
The back end need to look up timezone information (utc offset and dst observance) for the driver/rider zip code (for the rid

[2016-10-22 00:22] dmilet commented on #112
If the page is loaded from https, the http Youtube link will be blocked.
Since we're normally not loaded the main page over https , it should not be a problem, unless maybe from the Thank you page since the post when to https://api.carpoolvote.com
Better to use https for the youtube link anyway

The page at 'https://api.carpoolvotye.com/www/v2.0/' was loaded over HTTPS, but requested an insecure r

[2016-10-22 04:16] cancinos commented on #142
#150

[2016-10-22 04:16] cancinos commented on #142
Readme template update #150

[2016-10-22 13:29] richardwestenra commented on #131
We also need to improve the design of these pages to match the rest of the site, and to show a custom link to the match self-service page.

[2016-10-22 17:03] dmilet commented on #109
Short term we can change the user form to no convert to UTC anymore. The match will be evaluated based on local time
What is the worst that can happen? a lower match score for zips in neighboring states. A corner case I think

[2016-10-22 18:09] richardwestenra commented on #109
@dmilet I completely agree. I think this corner case is signficantly outweighed by the extra difficulties and potential bugs in trying to account for timezones.

So on the form, will we be changing the datetime format at all? If so, what format would you like them in? It’s currently joining full ISO strings (e.g. `2001-10-12T05:00:00.000Z/2001-10-12T21:00:00.000Z`). I’d like to send it in the form

[2016-10-22 19:52] sasjkia opened #153 "Create "How it works" page"
- [x] Please create a new page containing instructions on how to use the platform. On this page, please include Riders and Drivers instructions in 2 side-by-side columns.
- [x] Link to this page from the "How it works" hyperlink at the top of the home page. The "How it works" link should no longer point to a different section on the home page.

**How does Carpool Vote work?**

Carpool Vote connect

[2016-10-22 19:58] sasjkia commented on #131
ok, i've updated the text to include self-service page and uuid

[2016-10-22 20:05] sasjkia opened #154 "Change main Tweet button text"
Support #Democracy4All this #Election2016. Sign up on CarpoolVote.com-Linking volunteer drivers & voters needing a ride @CarpoolVote

[2016-10-22 20:09] sasjkia opened #155 "Change Facebook sharing button text"
Get a ride a ride or share a ride in the 2016 US presidential election. Every American DESERVES a vote!

[2016-10-22 20:12] sasjkia opened #156 "Change "Support" link text and destination"
- [x] Change text to "Voting info"
- [x] Redirect hyperlink to the start of the "How to claim your vote" section

[2016-10-22 20:15] sasjkia opened #157 "Clarify "Preferred method of contact" on the rider form"
Underneath "Preferred method of contact" heading, include text:
"How would you like to driver to get in touch with you?"

[2016-10-22 20:19] sasjkia commented on #148
@dmilet i've reviewed this and think we need to send email only if a riders specifies that they prefer driver contact via email. And send both email and SMS if they specify that they prefer contact via either SMS or phone (as phone may be a landline).

I've also created an issue for the text on the front end of the rider form to be updated. Does this work?

[2016-10-22 22:18] dmilet commented on #109
Yes that is perfectly ok.
I'll change backend code to support this.
The backend needs to change before index.html
How soon we make the change in index.html?

[2016-10-22 22:19] richardwestenra commented on #109
@dmilet I can make the change on the front end immediately and deploy it with #149.

[2016-10-22 23:43] #109 closed

[2016-10-22 23:46] dmilet commented on #127
Obsolete with new UI design

[2016-10-22 23:46] #127 closed

[2016-10-23 00:03] langdonms commented on #118
Yes, no longer needed as the map will be inserted to `div` element on the main page.

[2016-10-23 00:18] richardwestenra commented on #131
@sasjkia Thanks!

@jkbits1 @dmilet Is http://www.carpoolvote.com/self-service/?uuid=XXXXX okay as a URL?

[2016-10-23 11:25] moinshaikh commented on #157
I can take this up, if it's still not taken.

[2016-10-23 11:28] moinshaikh commented on #156
I can take this up, if it's still available.

[2016-10-23 12:57] moinshaikh commented on #153
I am ready to take this up. Pls. confirm if this is available.

Thanks!,
Moin

[2016-10-23 12:57] moinshaikh commented on #154
I am ready to take this up. Pls. confirm if this is available.

Thanks!,
Moin

[2016-10-23 14:14] sasjkia commented on #153
@moinshaikh thank you! Yes - please go ahead!

[2016-10-23 14:16] #156 closed

[2016-10-23 14:16] #157 closed

[2016-10-23 14:16] sasjkia commented on #154
@moinshaikh great stuff! Please do! :)

[2016-10-23 14:25] richardwestenra commented on #154
@sasjkia @moinshaikh Please note that the page URL is automatically added at the end of the tweet, so this message is too long. I recommend the following:

[2016-10-23 14:27] sasjkia commented on #154
@richardwestenra thanks for spotting. that works.

[2016-10-23 14:38] moinshaikh commented on #154
cool. noted.

[2016-10-23 20:36] sasjkia opened #161 "Add terms and conditions"
Use terms and conditions in the following document: https://docs.google.com/document/d/1ouu7DBSgAP2RBK93hnHX0YIY45oVopyxVriEtrE3KYA/edit?usp=sharing
- [x] Create a separate page that contains the terms and conditions
- [x] Create a link in the bottom-right of the footer on the home page that links to the Terms and Conditions
- [x] On the DRIVER and RIDER signup forms, add statement with check box:

[2016-10-24 00:48] jkbits1 commented on #131
@richardwestenra you probably are very aware of this, but the self service page accepts either or both of uuid_driver and uuid_rider. this is now specified in the user stories doc if you want to see more info

[2016-10-24 00:50] jkbits1 commented on #124
@dmilet @richardwestenra the revised time picker looks great to me, and generally appears different to when this issue was opened. Can we close it?

[2016-10-24 04:44] misteranderson commented on #131
Can we split out the self-service into rider vs. driver to keep the functionality / messaging clear?

[2016-10-24 04:48] misteranderson commented on #155
Howto:
Change the og:title and og:description meta tags in the header(s) of the impacted page(s).

http://stackoverflow.com/questions/24598267/facebook-share-button-with-custom-title-and-message-etc

[2016-10-24 06:52] dmilet opened #163 "Usability feedback from a random user"
So I sent the url to the test environment to a colleague of mine, just asking her to sign up for a ride, and she got stuck after clicking on Virginia (under Find your polling place). She found the address of her polling station, and wondered what she was supposed to do next. It did not occur to her that she had left our site, now on Virginia Dept of Elections site. She was using her smartphone.
I

[2016-10-24 07:03] richardwestenra commented on #124
Yup, definitely :). Thanks for the reminder!

[2016-10-24 07:03] #124 closed

[2016-10-24 07:28] sasjkia commented on #163
@dmilet we need to think about this. Polling location checker is very useful but it's true that it takes people away from the site (even if it does open a new tab).

Is there a way to retain the benefits of the checker without the confusion?

[2016-10-24 07:31] sasjkia commented on #96
If any automated populating is too time-consuming at this point, can people at least be asked to input the full address, so drivers know where they need to be going?

[2016-10-24 07:45] #90 closed

[2016-10-24 07:45] #89 closed

[2016-10-24 08:23] richardwestenra commented on #163
Great point. Maybe we could include a note saying that it will open a new website in a new tab?

[2016-10-24 09:12] richardwestenra commented on #96
@sasjkia Sure thing.

@dmilet We're going to need to add a `RiderCollectionZIP` text input field to the form. That ok on your end?

[2016-10-24 09:14] dmilet commented on #96
yes, go ahead, it will be ignored until we catch up on the back end side

[2016-10-24 09:19] richardwestenra commented on #96
Cool, thanks.

@sasjkia Should this address input be required for form submission?

[2016-10-24 11:10] dmilet commented on #96
Just an idea?  We already have a text field for Additional notes, can't we reuse it to store whatever information (including the pick up location) the rider wants to convey to the driver?

[2016-10-24 11:22] sasjkia commented on #96
@richardwestenra yes pls. This is necessary for drivers to decide whether or not to accept requests.

@dmilet I think this may happen naturally as people intuit that the driver may need more info. I do think it's better as a separate box, to keep things clean and simple.

[2016-10-24 11:28] dmilet commented on #96
fewer text boxes, fewer interactions. But if we want more, we can have more.

[2016-10-24 16:27] moinshaikh commented on #161
Consider this taken by me :) Will try to do this ASAP.

[2016-10-24 20:47] sasjkia commented on #163
@richardwestenra agreed.

Let's use the following working underneath Polling place heading:
"Link will take you to the Department of State website."

[2016-10-24 21:01] pavsaiprasad commented on #163
Will take this one.

[2016-10-24 21:15] dmilet commented on #163
It is not the Department of State web site, it is the State website with election information.

The Department of State is something else.

[2016-10-24 21:25] sasjkia commented on #163
@dmilet fair point. this sometimes appears on DoS site of relevant state but not always.

@pavsaiprasad feel free to chance "Department of State" to just "State".

Thanks!

[2016-10-24 21:40] pavsaiprasad commented on #163
@richardwestenra @dmilet @sasjkia - is a similar note also required for the "Am I registered?" polling place selection?

[2016-10-24 21:45] sasjkia commented on #163
@pavsaiprasad good suggestion! yes - pls add.

[2016-10-24 22:59] sasjkia opened #167 ""Voting info" navigation link spills over to next line on mobile"
Is there a way to modify so all 3 navigation links are on one line?

[2016-10-24 23:30] sasjkia commented on #131
These look great! :D

[2016-10-24 23:34] sasjkia opened #168 "Form can be submitted without insurance confirmation in DRIVER form"
I managed to submit a form without checking the insurance confirmation box. This should be required for a driver to be able to submit

[2016-10-24 23:44] sasjkia opened #169 "Eliminate lower matches from the same driver in match notification"
Drivers can be matched multiple times with the same driver, since we're evaluating all time intervals given by the driver and rider.

Currently, they're sorted by score in the driver match notification emails. I would be better to eliminate the lower scores - and thus duplicates of the same rider - in these notification messages.

[2016-10-24 23:50] dmilet commented on #169
Fixed fix candidate on /test environment. Did not clean up existing records though, so please try with new entries.

[2016-10-25 02:16] langdonms opened #171 "Expose Dates for Unmatched Rider/Drivers in API"
@sasjkia  has requested to be able to view the dates needed for unmatched riders/drivers as a pop-up event on the map. This requires them to be exposed in the JSON response from https://api.carpoolvote.com/live/unmatched-drivers and https://api.carpoolvote.com/live/unmatched-riders @dmilet how difficult would it be to implement this change?

[2016-10-25 02:36] dmilet commented on #171
@sasjkia @langdonms
I am concerned about the volume of data we would be extracting out of the system, and the cost (in CPU cycles and database i/o operations) that those would require, competing for the same resources that are used by the matching algorithm.
We have no idea of the uptake of the service. We have no idea how the matching behaves under stress.

Reporting is normally supported by a de

[2016-10-25 06:27] amisha11 commented on #87
Is this problem already sorted? If no, can I try?

[2016-10-25 08:23] rahulteja16 commented on #168
Hi. I will take this up. please assign this to me.

[2016-10-25 08:45] #112 closed

[2016-10-25 09:01] richardwestenra commented on #163
@sasjkia I've mentioned this to @pavsaiprasad in private on Slack, but just for visibility:
We need to emphasise that this opens a different website in a new tab, because that’s the real usability issue here. I recommend the following wording:

That okay with you?

[2016-10-25 09:13] richardwestenra opened #173 "Add 'Optional' label next to form input fields which aren't required"
### Suggested HTML:
`<label for="riderEmail">Email address <i class="optional">Optional</i></label>`

### Suggested design:
![image](https://cloud.githubusercontent.com/assets/1155816/19679930/ace86b4a-9a9b-11e6-925a-4db47c42b6a8.png)

### Note:
The required attribute is toggled on/off on the email fields, depending on whether the 'Email' checkbox is selected in the 'Preferred method of contact' r

[2016-10-25 09:19] richardwestenra commented on #173
@sasjkia Should `DriverHasInsurance` and `DriverLicenceNumber` be optional or required?

[2016-10-25 09:35] richardwestenra commented on #168
@rahulteja16 Argh sorry I just completed this in #174, in which I'm already addressing optional/required fields!

[2016-10-25 09:38] richardwestenra commented on #167
Yep, I can take this

[2016-10-25 09:40] richardwestenra commented on #91
@sasjkia Closing this issue for now because I don't want anybody else picking it up when we have more important things to do. If we get everything else done or we face attacks from bot armies then we can come back to this and reopen it.

[2016-10-25 09:40] #91 closed

[2016-10-25 13:07] dmilet opened #177 "invalid time format submitted to back-end"
FF49.0 on Linux
2016-10-25 12:45:33.775924 | 2016-10-31T10:00:00 AM/2016-10-31T12:00:00 PM|2016-10-31T06:00:00 AM/2016-10-31T10:00:00 PM|2016-10-31T02:00:00 PM/2016-10-31T10:00:
00 PM

date/time format should be
2016-10-22T21:00/2016-10-22T22:00

[2016-10-25 14:28] #177 closed

[2016-10-25 15:11] pavsaiprasad commented on #96
Will pick this up.

[2016-10-25 16:37] #163 closed

[2016-10-25 16:42] #154 closed

[2016-10-25 16:42] #155 closed

[2016-10-25 18:17] sasjkia commented on #96
yes pls

Sasjkia

FOUNDER AND ORGANIZER
[image: CarpoolVote.com] <http://carpoolvote.com/>

<https://www.facebook.com/CarpoolVote>    <https://twitter.com/CarpoolVote>
  <https://www.youtube.com/channel/UCY1aS3TMDGxVbckA7Va0QFA>

On Mon, Oct 24, 2016 at 10:19 AM, Richard Westenra <notifications@github.com

[2016-10-25 18:21] #168 closed

[2016-10-25 18:21] #173 closed

[2016-10-25 23:00] sasjkia opened #182 "Message after DRIVER form submitted is for RIDERS"
Haven't tested message for RIDER forms. See #131

[2016-10-25 23:01] sasjkia commented on #131
Text following DRIVER form submission is for RIDERS

[2016-10-25 23:04] sasjkia opened #183 "DRIVER email entry must be mandatory"
Email entry can be optional for riders (who may only have phone access) but drivers need to provide this to receive notifications (we do not currently have sms activated).

[2016-10-26 00:55] dmilet opened #184 "Driver was able to submit form without date/time information"
Can we prevent this from the form, or I'll have to enforce it at DB level, but this will result in an error which will need to be handled by the UI.

[2016-10-26 09:16] richardwestenra commented on #96
@sasjkia @dmilet @pavsaiprasad Do we need to add the dropoff address field? If we can avoid it, I think we should, because it would be much more of a headache for riders than the collection address, because they won't know it off the top of their heads. Is it necessary for us to provide that to drivers, or can they just gather that info themselves?
I figure you'll probably say that it is necessary

[2016-10-26 09:56] dmilet commented on #96
If it were up to me, we'd have a single text box nothing more than the one we have already, where riders can add whatever information they want to convey to the driver. We will not be processing nor validating the addresses, and the form is already complicated enough.

[2016-10-26 10:11] pavsaiprasad commented on #96
@richardwestenra - agree that if it is needed, it should be optional, since the destination zip code would give the driver a rough idea of the location.

@dmilet - if the pick up address is left optional as a part of additional information, wouldn't this cause some confusion about the exact location for the driver?

[2016-10-26 11:08] dmilet commented on #184
@sasjkia do you want to contact this driver and ask for her time availability  ?

carpool_v2.0_live=> select "DriverFirstName", "DriverLastName", "DriverEmail", "DriverCollectionZIP", "DriverPhone", state_info from stage.websubmission_driver where state='Failed';
 DriverFirstName | DriverLastName |        DriverEmail        | DriverCollectionZIP | DriverPhone |         state_info
-----------------

[2016-10-26 12:32] sasjkia commented on #184
will do

[2016-10-26 12:35] sasjkia commented on #96
This is 100% necessary. Drivers need to know where they're going to decide whether or not to accept the ride.

Not everyone is going to a polling place and not all drivers are driving in their home zip.

[2016-10-26 13:07] sasjkia commented on #184
done

[2016-10-26 15:07] jkbits1 commented on #184
@richardwestenra this was prevented by the form (using a fix you made recently) for the old date picker. Is  a new test needed for the latest one?

[2016-10-26 22:52] dmilet opened #185 "No submit button on the self-service page"
hey, just got the below message. what's the status of self-service?
"Good morning:

I signed up last night, but when I click the link to manage my rides, I enter my info, but there is no button to click to send it through.

Please advise.

Thanks.

Suzanne"

[2016-10-26 22:54] dmilet commented on #185
I tried it from my iPhone, there is indeed no button.
The parameter name in the URL is wrong too, needs to be changed to uuid_driver, that is driven by the node app.

[2016-10-26 23:45] dmilet commented on #184
Another instance of the same issue
 d1af356a-48d7-4a7c-a3a6-7b08a89cabd8 | 73.229.216.26 | Kevin          | Bell          | relay2-me@comcast..net | 303-317-6530 | 80010              | 80011           |
                   |              1 | t                | t                 | t                        | t                 | f              | Email                 | I do n
ot use walkers, dogs or a

[2016-10-26 23:49] dmilet opened #186 "User was able to submit invalid e-mail address"
This emailaddress@comcast..net  is invalid. It then fails sending notification e-mails
 d1af356a-48d7-4a7c-a3a6-7b08a89cabd8 | Bell          | 1234567890  | emailaddress@comcast..net                  | Failed         | 2016-10-26 22:23:59.468059 | 2016-10-26 22:24:15.449378 | 80010              | 80011           |              1 | t                 | f              |                       |

[2016-10-27 00:01] jkbits1 commented on #185
@dmilet the buttons are not shown if the self service page is not provided with a valid uuid (with the correct parameter name)

[2016-10-27 00:46] misteranderson commented on #182
This is because the driver form is configured to redirect to the thanks-rider page, and the rider form is configured to redirect to the thanks-driver page.

Current:
<form id="offer-ride" name="offerRide" action="https://api.carpoolvote.com/live/**driver**" method="post" class="ride-form" role="form" aria-hidden="true">
<input type="hidden" name="_redirect" class="redirect" value="http://carpoolvo

[2016-10-27 01:29] misteranderson commented on #186
So, drop it and move on.  The only way you know for sure that an email address is valid is to send and email to it and have the recipient take some action.

As an aside, since this project is public, we should be cautious about including private info in problem reports.

[2016-10-27 01:43] dmilet commented on #186
@sasjkia @jkbits1 @richardwestenra
Yes that is what I am going to do on the back end.
I just want to be sure this is what we want as behaviour. An invalid e-mail means no notifications at all. Radio silence.

[2016-10-27 09:11] richardwestenra commented on #184
@jkbits1 It should be picked up by the validator. I'm not sure why this one wasn't, but we can do some testing to figure it out. It's most likely someone using [desktop Safari, Firefox or IE](http://caniuse.com/#feat=input-datetime).

@dmilet Can you please be very very careful about posting users' private details on GitHub? This is a very public forum. I've edited your message to remove the phone

[2016-10-27 09:13] richardwestenra commented on #186
+1 everything that @misteranderson said. I've edited the original message to remove personally-identifying information.

[2016-10-27 09:36] richardwestenra commented on #185
As discussed on Slack:

I’ll take this and start on this today/tonight.

[2016-10-27 09:37] richardwestenra commented on #182
This is almost definitely my fault. I'll take it. Thanks for spotting @sasjkia @misteranderson.

[2016-10-27 13:33] #182 closed

[2016-10-27 13:36] #186 closed

[2016-10-27 13:47] richardwestenra commented on #161
The third point in this issue isn't done yet.

[2016-10-27 13:49] sasjkia commented on #161
Now that we have legal status, could we also add LLC behind all mentions of Carpool Vote?

Thanks!

[2016-10-27 14:51] pavsaiprasad commented on #183
picking this up

[2016-10-27 15:02] moinshaikh commented on #183
This is taken and done :) @pavsaiprasad

[2016-10-27 15:13] pavsaiprasad commented on #184
looking into this...

[2016-10-27 15:29] moinshaikh opened #188 "404 error on "email us" link on 'contributing.md' page."
The link on the phrase "email us" under the 'contributing.md' page leads nowhere and throws a 404 error.
The faulty link is: https://github.com/voteamerica/voteamerica.github.io/blob/master/docs/slack@carpoolvote.com

![email 404](https://cloud.githubusercontent.com/assets/7282553/19773596/ce051e02-9c87-11e6-9aa2-38204e2e3af3.png)

![email error](https://cloud.githubusercontent.com/assets/7282553/

[2016-10-27 15:34] jkbits1 commented on #185
@richardwestenra it's possible we have two issues overlapping here. 1) the node app redirects the browser after a successful driver/rider insert. that redirect is to the thanks page (link provided by the client), currently with a uuid 2) the self-service page requires the UUID_driver and UUID_rider. these are mainly provided by the email/sms links. it's possible they are created by the thanks page

[2016-10-27 16:41] moinshaikh commented on #153
I have created the page and have submited PR for this.

Thanks

[2016-10-27 19:19] sasjkia opened #189 "Clarify signup language"
Drivers have been writing in saying certain language on the signup form is unclear.
- [x] On DRIVER form: Change "Number of seats in vehicle" to "Seats available in vehicle"
- [x] On DRIVER and RIDER form, change "Phone number" to "Phone number (cell preferred)"
- [x] On RIDER form, replace "Senior or disability" checkbox with: "Senior or disability: Please check this box if you are retired from w

[2016-10-27 22:04] sasjkia opened #190 "Add self-service portal link to landing page"
Add the "Self-service portal" [link: http://carpoolvote.com/self-service/] to the footer, right above Terms and Conditions - in exactly the same style.

[2016-10-27 22:05] sasjkia commented on #153
I can't see the PR / link in live version. Is this still in progress?

[2016-10-27 23:26] sasjkia opened #191 "Create FAQs"
These will free time spent responding to the same email questions and provide driver, riders, and partners with the basic info they need to use the platform:

https://docs.google.com/document/d/1Tf4jDAWSyqvBrSYxjFtTa_gjJrZ3Ti3b7tZlujQbGgY/edit?usp=sharing
- [x] Create a page dedicated to FAQs.
- [ ] Include a link to these right above the Terms and conditions in the footer (in the same format). Al

[2016-10-28 09:56] #118 closed

[2016-10-28 09:57] sasjkia opened #192 "Rearrange boxes on home page"
- [ ] Move ELECTION COUNTDOWN box to underneath MAP box.
- [ ] Move HOW TO CLAIM YOUR VOTE and VOTING SUPPORT boxes to home right underneath OUR STORY box.
- [ ] Move CAN I HELP IN SOME OTHER WAY to underneath ELECTION COUNTDOWN box.

[2016-10-28 09:57] richardwestenra commented on #96
@sasjkia Okay the address inputs have been added (thanks @pavsaiprasad!) so I'm closing this issue.

[2016-10-28 09:57] #96 closed

[2016-10-28 09:59] richardwestenra commented on #192
To whoever takes this task: Please bear in mind how this will look on mobile in single-column view, and be aware that we don't have complete control over where everything gets placed.

[2016-10-28 10:00] richardwestenra commented on #188
This should link to `mailto:slack@carpoolvote.com`. My bad.

[2016-10-28 11:24] richardwestenra commented on #188
Fixed in #193

[2016-10-28 11:24] #188 closed

[2016-10-28 13:24] Carmenego commented on #153
@sasjkia @moinshaikh It's under #187 but have to read through the whole thing to see it. Have asked @richardwestenra to take a look.

@moinshaikh Can you make sure PRs are titled explicitly so we can see what issue they refer to (eg you can use the #s if covering several issues). Thanks!

[2016-10-28 21:48] pavsaiprasad commented on #191
@richardwestenra @Carmenego - Probably better for Moin's PR on T&C and "How it works" to be merged into master, before getting this started.

[2016-10-29 01:06] sasjkia opened #194 "Tweet text after form submission includes link to "Thank you" page with UUID"
Does this mean that anyone can sabotage signups? We need to get rid of this link please!

[2016-10-29 13:46] Carmenego opened #195 "Rider cancelled ride request text"
![image](https://cloud.githubusercontent.com/assets/23081790/19829850/92488d2e-9de3-11e6-80b2-7e90bc22dbc3.png)

My test rider account was matched up with someone, so I cancelled the ride request to stop it from happening again and got the following email. Clicking on "cancel ride request" generated the screenshot above.

[2016-10-31 11:18] #189 closed

[2016-10-31 13:10] moinshaikh commented on #161
I have added replaced all mentions of 'Carpool Vote' with 'Carpool Vote LLC' in the T&C paragraphs. Pls advise if we need to replace this all over the page. (in meta title, tweet text, image alt tag etc.)

[2016-10-31 16:21] jkbits1 commented on #195
@Carmenego great testing :+1:

[2016-10-31 16:22] #190 closed

[2016-10-31 16:22] #194 closed

[2016-10-31 19:42] jkbits1 opened #198 "Driver Thanks page does not link to self-service page correctly"
When the self-service page is accessed from the Driver Thank you page, the wrong param is sent (uuid, not UUID_driver). The confirmation field is shown but there is not Login button.

The self service page is not usable

I'm assuming these things are connected but happy to help resolve the issue whatever the cause

[2016-10-31 21:04] richardwestenra commented on #198
This is intentional. Given that some sources provide the key `UUID` and others (though none that I've seen) apparently provide `UUID_Driver` etc, I've resolved these into just using UUID at the moment on the selfservice page. Hence the UUID link [should work fine with the updates](http://richardwestenra.com/voteamerica.github.io/self-service/?type=driver&uuid=1234567890&score=1) in #196.

If you u

[2016-11-01 00:37] langdonms commented on #185
Also not seeing a submit button, but created rider/diver from @richardwestenra 's test site. Is self-service available for test users?

[2016-11-01 00:40] langdonms opened #199 "Rider request perhaps too easy to cancel"
SMS confirmation from signup of my my test rider has a direct link to cancel the request. This can be easily accidentally clicked on phones resulting in a canceled ride.

From CarpoolVote.com\nRide Request received! Ref: ab94c6c9-b614-424d-b594-c17548ec59d4\nPreferred Ride Times : 2016/10/31 09:00-2016/10/31 22:00\nPick-up location : 30328\nDestination : 30328\nParty Size : 1\nWheelchair accessibi

[2016-11-01 01:05] langdonms commented on #198
@richardwestenra @jkbits1 I experienced same issue: , created test rider/users and had same experience - both SMS and email Thank You confirmations had self-service urls with lowercase parameter `UUID`s resulting in no action buttons available. @misteranderson clarified this was due to the needed format of capital `UUID` and as you identified above.

Example received in both SMS and email Mon, Oct

[2016-11-01 02:33] jkbits1 commented on #198
@richardwestenra I've created some changes to the relevant db code. These have been applied to the test db and a test match created. The querystring parameters have been checked in the emails and are correct now.

You are correct that the existing code does not always provide the Score param correctly. This has been amended in some cases but some gaps remain.

If you can revise the PR to work agai

[2016-11-01 09:42] richardwestenra commented on #198
ah yeah I see, the old emails I was receiving were using `uuid` but I just submitted the form again and received one in the following format: `http://carpoolvote.com/self-service/?UUID_rider=352a57f8-b4d5-43dd-8ba3-8d43591723b8`
This should work fine with yesterday's updates to #196, however.

[2016-11-01 10:04] richardwestenra commented on #198
@jkbits1 Sorry, I'm not following you. Where does a user get a URL with the score value added? In emails?

If a user is arriving at this site via the thank you page and only has the UUID/UUID_Rider parameter, is there a way for them to retrieve the values they need in order to view/edit/cancel/accept matches? Users should be able to log in from anywhere, as long as they have their reference number

[2016-11-01 15:06] jkbits1 commented on #198
@richardwestenra hi. btw thanks for a thorough response in your first comment on this issue.

That's right, the links are in the emails and sms messages. At the moment, methods only exist for some of the paths the users take. However, if we get these parts working, then we can resolve those.

I have had to make revisions to the db code, which exist on the test system. I haven't checked this PR aga

[2016-11-01 19:24] sasjkia opened #202 "Driver confirmation page tweet appears to be for riders"
Haven't tested the other way around

[2016-11-01 21:20] sasjkia commented on #198
Glad to see that this is taking shape!

Apologies if I'm not following correctly but what are planned steps for this? What's the difference between the CANCEL RIDE REQUEST and CANCEL RIDER MATCH REQUEST buttons?

[2016-11-01 22:05] sasjkia opened #203 "Add customer service phone number to the home page"
- [ ] Move the phone number text in the "Need voter support" banner at the top to the left of the banner.
- [ ] To the right of the banner, add "For help using Carpool Vote, call or SMS: 804-239-3389".

[2016-11-02 00:37] jkbits1 commented on #198
@sasjkia good question. The names are from the user stories document, and get shortened to become db  functions and node app routes. Cancel ride request is a complete exit from the system by the rider, which cancel match request cancels a single match (made when the driver accepts a proposal)

[2016-11-02 00:45] sasjkia commented on #198
@jkbits1 thanks a lot! could we please change the button text to REJECT CURRENT RIDE OFFER?

[2016-11-02 09:34] pavsaiprasad commented on #203
@sasjkia - should this perhaps be "Call 1-866-OURVOTE for Voter Support. For help using Carpool Vote, call or SMS: 804-239-3389", because adding Call 1-866-OURVOTE to the left of the banner doesn't sit well with the existing text of "Need voter support?".

[2016-11-02 11:37] sasjkia commented on #203
@pavsaiprasad good point - thanks for flagging!

Yes, happy with your suggestion. Please go ahead.

[2016-11-02 12:36] moinshaikh commented on #202
I tested them both, both page tweet appears to be same:

Driver confirmation page:
(http://carpoolvote.com/thanks-driver/?uuid=6a69e467-8181-4e91-aef4-ccaa847cba4e)

I’ve signed up for a ride to #ClaimMyVote on @CarpoolVote. #Election2016 will be close. #CountEveryVote http://carpoolvote.com/thanks-driver/?uuid=6a69e467-8181-4e91-aef4-ccaa847cba4e

Rider confirmation page:
(http://carpoolvote.com/

[2016-11-02 12:38] moinshaikh commented on #202
Can you advise the correct/new text for tweet for Rider page, I can help here.

[2016-11-02 12:45] misteranderson commented on #202
The important thing is -not- to link the tweet to the self service page -
those urls have an identifier which should not be made public.

-- Eric

On Wed, Nov 2, 2016 at 07:38 Moin Shaikh <notifications@github.com> wrote:

[2016-11-02 13:13] moinshaikh commented on #202
I was about to share this exact opinion @misteranderson

We can just have text and at most, link to home page.

[2016-11-02 14:15] misteranderson opened #207 "Tweeting from rider or driver thank you page leaks the user's UUID to their audience."
We don't want the user (inadvertently) sharing their UUID since it allows cancellation if someone else has both that and their Last Name.

[2016-11-02 14:29] misteranderson commented on #202
I have merged this; I have another PR #206, which is also affecting the tweeting.  I have checked the new tweet text and it's now different for drivers.

[2016-11-02 14:29] #202 closed

[2016-11-02 15:57] #207 closed

[2016-11-02 16:03] #185 closed

[2016-11-02 16:23] richardwestenra commented on #203
@sasjkia Should this be applied to all the other pages, or just the homepage?

Also, did you intend for the text to be broken into two sections (one left aligned, one right aligned) or just one line along the top bar?

[2016-11-02 16:23] #203 closed

[2016-11-03 04:39] jkbits1 commented on #198
The thanks pages don't display the uuid and do not provide a valid link to the self service page.

This is resolved by https://github.com/voteamerica/voteamerica.github.io/pull/209

[2016-11-03 18:06] sasjkia commented on #203
@richardwestenra thanks for spotting! yes -pls all pages. i think it may be easier to read if text was broken into 2 sections. thanks!

[2016-11-03 18:28] #153 closed

[2016-11-03 18:28] #161 closed

[2016-11-03 22:50] sasjkia opened #211 "Change notes box text for RIDER signup form"
Some states require child seats by law. Some orgs want drivers to collect voting assistants from different locations. Some want drivers to prioritize riders from their own org. SO... with all of this in mind, please could we notes box text in RIDER signup form to the following?

"Accommodation requirements e.g. service animal, assistance folding equipment, assistance entering/exiting the vehicle,

[2016-11-03 23:46] #198 closed

[2016-11-05 10:39] dmilet opened #213 "Discrepancy in handling of TotalPartySize on front and back end"
The rider submission form allows the user to enter 0 (or no value) in the field TotalPartySize

On the back end, TotalPartySize=0 is considered an invalid
			IF ride_request_row."TotalPartySize" = 0
			THEN
				UPDATE stage.websubmission_rider
				SET state='Failed', state_info='Invalid TotalPartySize'
				WHERE "UUID"=ride_request_row."UUID";

				b_rider_validated := FALSE;
			END IF;

There are

[2016-11-05 11:22] dmilet opened #214 "Failed Driver records because of Invalid Drive Times"
There are 2 types of failures which I believe should be caught by the the form
1. drive times is empty
2. End time is before start time

carpool_v2.0_live=# select state_info, "UUID", last_updated_ts, "AvailableDriveTimesLocal"  from stage.websubmission_driver where state='Failed';
                               state_info                               |                 UUID                 |

[2016-11-06 05:07] udupashreyas commented on #87
I am looking for a beginner's task. Can I take this up? (if its not assigned to anyone yet)

[2016-11-06 13:17] sasjkia opened #216 "Create Spanish version of the site"
Everything can be a direct translation except for the phone number. This should be 866-VE-Y-VOTA

[2016-11-06 14:51] gavinkalika commented on #211
created pull request

https://github.com/voteamerica/voteamerica.github.io/pull/217

Any comments or concerns please post them

[2016-11-06 17:43] sasjkia opened #219 "Add Voting Rights Alliance command center phone number"
In the VOTING SUPPORT box, underneath all of the existing text, please add the following:

You can also call the Voting Rights Alliance [link: http://www.votingrightsalliance.net/] command center on
202-536-5400

[2016-11-06 17:44] sasjkia commented on #87
@udupashreyas thanks for chipping in! #219 is a good one to get started :)

[2016-11-06 21:04] pavsaiprasad commented on #214
@dmilet @richardwestenra - the empty date field has been picked up as a part of #184 which is now in a PR.

[2016-11-06 21:40] gavinkalika commented on #211
how to close issue? solution is merged into master

[2016-11-07 05:52] sasjkia opened #222 "Delete "Senior or disability" check box in RIDER signup form"
We do not have enough partner vehicles. This check box lowers matching score for people with disabilities. We do not want this, so this should be a top priority.

On RIDER signup form, PLEASE DELETE:
Senior or disability: Please check this box if you are retired from work or you consider yourself to have a disability, and would like us to try to match you with a driver affiliated with one of our p

[2016-11-07 10:39] #192 closed

[2016-11-07 13:09] sasjkia commented on #183
ok, we need to come back to this:

SMS notifications don't contain all of the driver offer management links. Emails do. The self-service portal currently doesn't support individual match cancellation and doesn't contain responses for other button actions, in a way that lets the user understand what just happened.

as an interim fix, please can we make driver email mandatory asap?

thanks!

[2016-11-07 15:19] #183 closed

[2016-11-07 15:23] #222 closed

[2016-11-07 15:44] #131 closed

[2016-11-07 15:48] #167 closed

[2016-11-07 16:09] sasjkia opened #228 "Create more intuitive responses to email links"
currently, people receive the following format when they click a link. many are finding this confusing and are unsure whether or not they have taken action

![image](https://cloud.githubusercontent.com/assets/19363959/20062488/eb9a0b2e-a4d1-11e6-9ab0-78199097d63e.png)

Can we replace the responses with some basic text?
**Driver email links:**
- [ ] Accept match: Thank you for accepting this ride r

[2016-11-07 16:51] richardwestenra commented on #228
@sasjkia Sorry, unfortunately I can’t do anything about that from here.
I just clicked the link and got this URL: https://api.carpoolvote.com/test/cancel-ride-request?UUID=06f24c19-4be4-4d20-950a-78f23c24d920&RiderPhone=Westenra

If you see the URL, it starts with api. Those pages are actually on the backend site. I created an issue about this over there 11 days ago: https://github.com/voteamerica

[2016-11-07 16:53] #228 closed

[2016-11-07 18:42] #87 closed

[2016-11-07 18:50] #219 closed

[2016-11-07 19:27] #216 closed

[2016-11-07 19:27] #213 closed

[2016-11-07 20:25] #191 closed

[2016-11-07 21:33] sasjkia opened #232 "typo in FAQs"
NEEDS TO READ:

I need to change the details of my signup. How can I do this?

For drivers, the easiest way to change the details of your signup is to pause (NOT cancel) notifications for your current ride offer or request, then sign up again using the same details.

This will preserve any matches you've already accepted, while new notifications will have the updated details. I you do not yet have

[2016-11-07 22:30] jsms90 commented on #232
@sasjkia I take it that you just want "Simply click the" removed from the beginning, and otherwise the text is fine?

[2016-11-07 22:34] sasjkia commented on #232
@jsms90 i spotted the typo at the beginnig but didn't check the rest of the text.

[2016-11-07 22:36] jsms90 commented on #232
@sasjkia The rest looks identical :+1:
Submitting a PR now

[2016-11-08 01:52] sasjkia opened #235 "move FAQs to directly underneath contact email"
Let's hope people check these before getting in touch! customer service is already BUSY

[2016-11-08 02:23] sasjkia opened #236 "Remove 1-866-OURVOTE line reference from the red banner at the top"
People are confusing this for the signup line.

People can access this line lower down the page, so no need to also have it in the banner.

[2016-11-08 03:05] #236 closed

[2016-11-08 04:09] #232 closed

[2016-11-08 10:16] jsms90 opened #239 "FAQ link is not on every page"
e.g.
- Our story
- How it works

[2016-11-08 10:21] #235 closed

[2016-11-08 10:24] #239 closed

[2016-11-08 10:33] richardwestenra commented on #211
@gavinkalika Ah thanks for the heads up, I missed this! Closing now.

btw if you include the words "Fixes #XXX" (where XXX is the issue number) in your [commit message](https://help.github.com/articles/closing-issues-via-commit-messages/) or [PR description](https://github.com/blog/1506-closing-issues-via-pull-requests) then GitHub will automatically close the issue for you.

[2016-11-08 10:33] #211 closed

[2016-11-08 11:57] jsms90 opened #240 "Banner line different on homepage from the rest"
"For help using Carpool Vote, call or SMS: 804-239-3389" is only on the homepage

"Need voter support? Call 1-866-OURVOTE" on other pages

[2016-11-08 12:08] moinshaikh opened #241 "Should FAQ answers have anchor tag/link to "Go to Top"? section"
Hey guys,

do you think answers on faq page (http://carpoolvote.com/faq/) should have an anchor tag/ 'Go to top' link that allow reader to go to top section (the list of questions or question header section)

something like this:

![go to top](https://cloud.githubusercontent.com/assets/7282553/20098482/1057a738-a5da-11e6-9893-92c06aacaff9.png)

[2016-11-08 13:04] sasjkia commented on #240
Thanks for spotting. Pls could you change to our number only on each page.

[2016-11-08 19:16] #240 closed

[2016-12-01 10:09] richardwestenra commented on #241
Hey @moinshaikh, thanks for the suggestion! It's not a bad idea, but I'd say it's probably unnecessary. Scrolling is easy, and by not including these links we avoid distractibng users with unnecessary visual complexity.

[2016-12-01 10:09] #241 closed

[2016-12-01 10:11] richardwestenra commented on #199
Closing this issue because
1. The SMS confirmations are generated on the back end, not the front end.
2. The election is over.

It'll be worth bearing this in mind for the next iteration though. Cheers @langdonms!

[2016-12-01 10:11] #199 closed

[2016-12-01 10:12] #195 closed

[2017-03-19 23:19] #214 closed

[2017-03-19 23:19] sasjkia commented on #214
Looks like this has been solved

[2017-03-19 23:20] sasjkia commented on #184
Closing this issue because I tested and am unable to submit without proper information. Let me know if I'm missing something.

[2017-03-19 23:20] #184 closed

[2017-03-19 23:22] sasjkia commented on #82
Has this been resolved?

[2017-03-19 23:23] sasjkia commented on #148
@dmilet would it be possible to provide map of what happens when drivers / riders check different boxes? It would be good to review to add some clarity to the signup form and potentially refine the process.

[2017-03-19 23:24] sasjkia commented on #169
Am I right in thinking that this has been solved?

[2017-03-20 03:16] sasjkia opened #250 "Add volunteer credits page"
This page should have 2 columns: Drivers on the right, project volunteers on the left

Please use the information found on the following Google doc: https://docs.google.com/document/d/1kI1ttvEGSvnXlm-Nz25nngNPOLVcUurXeU_VTy-6p44/edit?usp=sharing

[2017-04-14 01:35] sasjkia opened #252 "Create Working Together guidelines in Github Documents folder"
Please use the content of the following Word doc

https://docs.google.com/document/d/1wgVty_YEzGEEd2yAmUqjah7ZgNuXyH8xyXbvWZnlWHc/edit?usp=sharing

[2017-04-14 01:36] sasjkia opened #253 "Create Values page and working together guidelines in Github Documents folder"
**Note: This task is suitable for a beginner developer, especially for someone wanting to make their first PR. We are leaving it here for a beginner to take on. Thanks! 🙂**

# Task Description

Please use the contents from the below Google Docs to create 2 separate markdown readme documents, and add them to the [/docs](../tree/master/docs) folder:

- [Brand Values](https://docs.google.com/document

[2017-04-15 21:39] sasjkia opened #254 "Update site text etc to be relevant to new year"
**Update signup forms**
- [x] On both signup forms, make dates available for current year
- [x] On both signup forms, ensure that start times and end times are mandatory fields
- [x] On driver signup form, change "Seats available in vehicle" to "Passenger seats available in vehicle"
- [x] On driver signup form, change "Driver's licence number" to "Vehicle licence plate number"
- [x] On both signup

[2017-04-18 01:42] sasjkia opened #255 "Site no longer links to "Our story" and "How it works" pages"
Something to do with Jekyll migrate?

[2017-04-18 06:09] richardwestenra commented on #255
Looks like it's caused by this issue: https://github.com/jekyll/jekyll/issues/4440

Easy enough fix. Weird that it didn't occur on my local dev environment.

[2017-04-18 10:28] #255 closed

[2017-04-22 01:37] jkbits1 opened #257 "Add rider does not redirect to correct page"
This is due to recent node app changes.

Probably the case for add driver, too

[2017-04-22 02:33] jkbits1 opened #258 "self-service page ride request cancellation info is cryptic"
Recent node app and db changes provide some more info to the front-end about the outcome of cancelling a ride request. However, when this feature is used on the front-end. the returned data looks a bit strange. Though it was vague at best before 😄

Before `i: ""`

Now: `i: (0,"")`

The `i` is in bold

[2017-04-24 01:56] #252 closed

[2017-04-24 03:52] sasjkia opened #261 "Replace volunteer offer text and check boxes on home page with link to volunteer survey"
This will save space on the home page and allow us to collect data in a more responsive/accessible way.

Please replace:
"Name

Your name
Email

Email
How can you help?
Do community outreach / Organize my own community
Help with media /social media outreach
Help build links with organizations / Set up collaboration with my organization
Do research
Offer legal expertise
Contribute my tech wizardry

[2017-04-27 03:40] sasjkia commented on #254
@jkbits1 @dmilet some of these relate to the back end.

[2017-04-27 04:07] sasjkia opened #263 "Forms not redirecting to confirmation page after signup (#107 in backend)"
- [ ] Rider and driver signups no longer redirects to confirmation page after submission. Shows blank page with UUID instead.

- [ ] Ditto for confirmation page when driver has confirmed a match, rider has cancelled a match, etc

[2017-04-27 04:08] sasjkia commented on #263
@richardwestenra @dmilet not sure if this is a frontend or backend issue?

[2017-04-27 22:20] dmilet commented on #169
Yes, it is no longer an issue. Please retest and close

[2017-04-28 01:13] sasjkia commented on #169
Confirmed - thanks! :)

[2017-04-28 01:13] #169 closed

[2017-04-28 01:14] sasjkia opened #264 "Notifications show times in European"
Americans don't have 24-hour clock.

There's plenty more to be done on the UX front but this one is pressing.

[2017-04-28 01:26] sasjkia opened #265 "Map information updates"
Modify the information displayed on the map to include:
- [ ] Different icons for power chair user riders and drivers with power chair adapted vehicles
- [ ] Dates and times available

Change the conditions under which icons are removed from the map. Currently, drivers are removed after confirming their first match, which skews downward the availability of drivers. Change this so that:
- [ ] Drive

[2017-04-28 01:39] dmilet commented on #264
This would be on the back end
I'll take care of it

[2017-04-28 02:37] #264 closed

[2017-04-29 16:03] sasjkia opened #267 "Signup form updates"
Please also liaise with backend, as required for the below

- [x] On both signup forms, changes "Dates available" to "Dates and times available"
- [x] On driver signup form, change "Pickup zip code" to "Driving zip code"
- [x] ~On both signup forms, force user to open terms and conditions before checking the box stating that they agree.~
- [x] On rider signup form, change "Your trip" heading to "D

[2017-04-29 16:07] sasjkia opened #268 "Site content changes"
- [x] Change "Fill in the form to let us know when and where you'll be driving, and we'll match you with a rider!" to "Fill in the form to let us know when and where you'll be driving, and we'll match you with riders!"

- [x] Widen map so it takes up both columns. Keep the content underneath this in two columns.

[2017-04-30 11:15] #261 closed

[2017-04-30 11:33] dmilet commented on #265
@langdonms  There are two views currently available vw_unmatched_drivers_details and vw_unmatched_riders_details. Do you think you can work with that?  @jkbits1  will have to expose them through the node app if not already done

[2017-05-01 19:52] jkbits1 commented on #263
@sasjkia thanks for details 👍 - this duplicates https://github.com/voteamerica/voteamerica.github.io/issues/257

[2017-05-03 21:29] jkbits1 commented on #258
@richardwestenra I'll make a start on this

[2017-05-04 00:51] udupashreyas commented on #254
Hi, I was wondering if the seventh point in the checklist was incomplete or missing a few words. (Or, is the last phrase not to be added?)

[2017-05-04 21:20] sasjkia commented on #254
@udupashreyas good spot - thank you! I've updated this now.

[2017-05-04 22:04] richardwestenra opened #273 "Test site signup forms redirect to live site"
When you fill out the rider/driver request forms on the test site, it redirects you to the main site. It’s very easy to miss that it’s done this.

It'd be great if the site were able to detect which one you were on and redirect you accordingly, or else just use a relative redirect link.

- Test site: http://richardwestenra.com/voteamerica.github.io
- Live site: http://carpoolvote.com

[2017-05-08 10:52] #273 closed

[2017-05-09 18:12] jkbits1 commented on #257
Fixed by https://github.com/voteamerica/backend/pull/104 and https://github.com/voteamerica/backend/pull/115

[2017-05-09 18:12] #257 closed

[2017-05-09 18:16] jkbits1 commented on #263
@sasjkia this should be fixed by voteamerica/backend#104 and voteamerica/backend#115

[2017-05-10 00:05] geoffreyyip commented on #254
I'm assigning myself to this.

Note to self: sasjkia says hide the clock if you can't fix it.

[2017-05-10 05:11] sasjkia commented on #254
thanks @geoffreyyip! Please also coordinate with the backend, as some of these changes will affect the database.

[2017-05-10 20:34] geoffreyyip commented on #254
@sasjkia

Items 6-9 are in a pending pull request, so I skipped those. As for the rest, I need some clarifications. And I made some recommendations. Most important thing is that we need to make a new countdown widget.

Rider Accomodation Notes is currently in [rider sign-up](http://carpoolvote.com/#need-ride), not [driver sign-up](http://carpoolvote.com/#offer-ride). How should I proceed?

I'm not

[2017-05-10 20:35] geoffreyyip commented on #254
P.S. To the best of my knowledge, none of these changes will affect the database.

[2017-05-10 23:59] sasjkia commented on #254
Good spot. This still applies to rider (not driver) form.

Thanks for this. This change was recommended by Tino (not all people with poor vision use screen readers) but, thinking about it, I agree. Let's leave it until some further UX discussions.

At first mention: 'Carpool Vote LLC ("Carpool Vote")'. Thereafter, just 'Carpool Vote'.

That's right; please can you just remove the reference to 2016

[2017-05-11 01:15] sasjkia commented on #254
@geoffreyyip i've also added updated tweet text, as this was referring to 2016 elections

[2017-05-11 18:42] geoffreyyip commented on #254
Need two more things clarified:

When you say separate bullet points, do you mean separate checkboxes like the following?

- [ ] I am a powerchair user who needs an adapted van with a lift.
- [ ] I need a two-way trip.
- [ ] I am bringing a service animal
- [ ] I need a child car seat (please include age below)
- [ ] Other (please fill out textbox below)
{and then a text box, where user can fill i

[2017-05-11 19:59] russon77 commented on #267
@sasjkia i'm interested in doing the easy text edits/display changes. has this been assigned yet?

[2017-05-11 23:41] sasjkia commented on #267
@russon77 that's great - thank you! it's been been assigned so please go ahead. please also coordinate with @dmilet regarding separating the street/apartment numbers from the address, as this may be better to do on the backend.

[2017-05-12 00:18] sasjkia commented on #254
No. Just exact same wording as it appears, but one after the other so it's easier to read.

Yes pls.

Oh dear. What browser are you using. Can you create an issue pls?

[2017-05-12 13:27] russon77 commented on #267
thanks @sasjkia . could you explain what you mean by the following, possibly with examples?

-    For the rider signup form, add address verification

-    For the driver signup form, add zip code verification

[2017-05-13 00:12] sasjkia commented on #267
@russon77 we want to ensure that people are submitting a real address and zip code (we saw a few mistakes in the data before). Even better if the address has an autocomplete function, so people don't have to type out the whole thing.

This is a bit more advanced than the other points.

[2017-05-13 00:13] sasjkia commented on #267
@russon77 e.g., https://developers.google.com/maps/documentation/javascript/places-autocomplete

[2017-05-13 19:29] jkbits1 commented on #263
hi @sasjkia I think this can be closed now. If you think otherwise, just let me know

[2017-05-14 00:49] geoffreyyip commented on #254
- [ ]  On the rider signup form in the notes page, create a separate bullet point for each type of accommodation needed. After car seat requirements, add "- Can only communicate in a language other than English"

This needs more discussion. You requested bullet points (or at least separate lines), but I think we can do better.

Currently, the accommodation notes are displayed as `placeholder` text

[2017-05-14 18:31] sasjkia commented on #254
@geoffreyyip thanks for this suggestion. This makes a lot of sense!

Check boxes are probably not the way; one freeform box is enough. What do you think of the idea of having a bulleted list next to the box, to use as reference?

As for the LLC, delete all except for the first mention, on both drivers and riders signup forms.

[2017-05-14 22:34] sasjkia opened #278 "In driver self-service portal, change text for pause button"
Change from
![image](https://cloud.githubusercontent.com/assets/19363959/26038325/f30a1a0c-38d3-11e7-8a6e-55e6e8fad8d2.png)

to

"Pause notifications"

[2017-05-14 22:35] sasjkia commented on #278
@dmilet am I right in understanding that the effect of this button will be to pause notifications? Ideally, does this apply only to email/SMS or also to self-service portal?

[2017-05-15 18:04] geoffreyyip commented on #254
How does this work? Also, was this "I speak a language other than English" checkbox what you were thinking about?
![Vehicle Requirements Form](https://cloud.githubusercontent.com/assets/15312106/26071641/c92c380c-3976-11e7-9d44-d07276135e5f.png)

Still confused here. Do you mean shortening it from three paragraphs to one paragraph?

Three paragraphs:
![Old LLC Form](https://cloud.githubusercontent

[2017-05-15 18:50] geoffreyyip opened #279 "Navigation is not rendering Facebook and Youtube social buttons."
The navigation bar is supposed to have a section with Youtube, Facebook, and Twitter buttons. Currently, only the Youtube button is rendering:

![Current Navigation Bar](https://cloud.githubusercontent.com/assets/15312106/26073466/fd5d5f6a-397c-11e7-93f7-09c8d6e57fbb.png)

Facebook and Twitter buttons are loaded from the Facebook and Twitter developer portals respectively. The code needs to be upd

[2017-05-16 16:05] #268 closed

[2017-05-18 13:33] richardwestenra commented on #279
They look fine to me on both live and my local Jekyll server (in Chrome on MacOS):
![image](https://cloud.githubusercontent.com/assets/1155816/26204490/d25fb16c-3bd6-11e7-9559-9e4a55f8b8d1.png)

@geoffreyyip Can you please supply more information about steps required to replicate this issue?

[2017-05-18 13:37] richardwestenra commented on #254
Please note that @udupashreyas has taken care of points 6 through 9 in #272 (pending changes before merging).

[2017-05-18 14:04] richardwestenra commented on #254
I've just caught up on recent comments on this thread. @geoffreyyip I support everything you've said on this issue, and I'm very pleased by your suggestions and your thoroughness. Thanks a lot for taking this on, and for showing concern for good UX design and a11y best practices! I really appreciate it.

Regarding the contrast of placeholder text: I agree. I think the placeholder text is as opaque

[2017-05-18 14:06] richardwestenra commented on #267
A note regarding the third point: I think we need to discuss the UX implications of adding this feature. I'd argue that this might negatively affect users and possibly prevent some users from successfully completing the form. It's a user-hostile feature, and we should only add it if it's legally required.

[2017-05-18 16:40] #263 closed

[2017-05-18 16:44] russon77 commented on #267
thanks @richardwestenra :+1:

i have created a basic fix for the section changes, let me know if its okay and i'll change the driver signup and PR:

![updated_sections](https://cloud.githubusercontent.com/assets/17035732/26213565/928d93ba-3bc7-11e7-8224-4059ac0e3508.png)

[2017-05-18 20:33] geoffreyyip commented on #279
@richardwestenra Disregard. I have blocker extensions installed on my Chrome and Firefox browsers. Nav bar renders fine when I turn them off.

[2017-05-18 20:33] #279 closed

[2017-05-18 20:42] geoffreyyip commented on #254
@richardwestenra I accepted the request. Please assign me as collaborator when convenient.

@sasjkia I am still awaiting clarification on LLC. Once that's done, I can submit the pull request.

[2017-05-19 10:38] richardwestenra commented on #279
@geoffreyyip Great, no worries :)

[2017-05-19 10:41] richardwestenra commented on #254
@geoffreyyip Done! Btw if you've got some work in progress, feel free to submit a PR and keep adding to it as you like. That way we can preview your work and check if you're on the right track, as well as helping ensure that we don't work on the same thing.
Just be sure to include a note in the description to let us know whether it's ready to merge, so it doesn't get merged before you're ready.

[2017-05-19 13:26] russon77 commented on #267
@sasjkia what do you think of the design? i kept it minimal

[2017-05-19 14:24] richardwestenra commented on #267
@russon77 What browser/OS are you testing this in? I would also check any changes in Chrome, because it looks like you're viewing the fallback date/time inputs.

Regarding the design, I'd get rid of the horizontal rule under "Our automatic matching algorithm will use this information to try to find you a driver".

[2017-05-19 14:28] richardwestenra commented on #267
For what it's worth, I don't think the 'Your trip' header is necessary either. I'm also not sure we need the "Our automatic matching algorithm will use this information to try to find you a driver" paragraph.

@sasjkia What's the rationale for these additions?

[2017-05-19 14:31] sasjkia commented on #267
@richardwestenra agreed. But does the matching Our automatic matching algorithm will use this information to try to find you a driver" bit still appear at the bottom? This needs to be included because there are a lot of questions about it.

[2017-05-19 14:34] sasjkia commented on #254
@geoffreyyip please keep the three paragraphs as and and add the fourth paragraph as outlined in this PR. the "LLC" (literally just those letters) should only appear on first mention.

[2017-05-19 14:35] sasjkia commented on #254
@geoffreyyip actually, looks like @udupashreyas  has been working on this.

[2017-05-19 14:36] richardwestenra commented on #267
Okay cool, thanks @sasjkia! In that case, I would just include the following paragraph, above the first form section:

like so:
![image](https://cloud.githubusercontent.com/assets/1155816/26252708/e98f2cb4-3ca8-11e7-9e30-531d805d5fce.png)

[2017-05-19 14:40] russon77 commented on #267
@sasjkia currently on http://carpoolvote.com/#need-ride at the end of the rider signup form, the text is

is this enough?

for the zip code verification, there's already some level of validation - `Please match the requested format.` did you have something else in mind?

lastly, for the address verification - is it required that the address be selected from the google address search? are we trusti

[2017-05-19 17:50] geoffreyyip commented on #254
@sasjkia I think I get it now. On signup forms, the organization should be referred to as "Carpool Vote LLC" the first time, and "Carpool Vote' every time afterwards. On the Terms & Conditions, the organization should be referred to as "Carpool Vote LLC" all the time.

Wait, I thought @udupashreyas was working on tasks 6-9?

[2017-05-19 17:53] geoffreyyip commented on #254
@richardwestenra Haha thanks. I've never submitted a pull request before. I'll get on that by early next week.

[2017-05-19 18:35] sasjkia commented on #254
@geoffreyyip

Correct

No. On first mention, state 'Carpool Vote LLC ("Carpool Vote")'. then just 'Carpool Vote' thereafter.

Thank you!

[2017-05-20 05:07] udupashreyas commented on #254
@geoffreyyip, yes, I was working on tasks 6 to 9

[2017-05-20 17:29] sasjkia opened #281 "Issues with rider phone number input"
- [ ] Rider is able to submit signup form without specifying whether phone number is for a cell phone or not.
Please force rider to complete this selection before they are able to submit the form.

- [ ] Rider is able specify SMS as a preferred contact method from driver, even when specifying that the phone number is not a cell phone number.
Please force the rider to change input to a cell phone n

[2017-05-20 17:36] sasjkia commented on #281
@richardwestenra there is a related issue on the backend. Do you see any issues from a UX perspective?

[2017-05-20 18:02] sasjkia opened #282 "Rider self-service portal ride request appears active even after rider has cancelled ride"
Steps:
- Rider signs up. UUID: 6ffc525d-e69e-4018-90ca-f9b6ad91428f.
- Rider cancels ride request via SMS link, before any match has been confirmed.
- Rider is able to log into self-service portal. The self-service page claims that the rider has a confirmed match.
- Rider receives cancellation notice via both SMS and email.
- Rider is able to cancel the ride request a second time through the self-

[2017-05-20 18:51] jkbits1 opened #283 "Self-service page for driver does not automatically show confirmed match details due to recent db changes"
When a driver confirms a match on the self service page, details of the match should appear automatically. Due to recent db changes, this no longer happens

[2017-05-21 19:08] richardwestenra commented on #267
@sasjkia I'd be very wary of overly-aggressive form input validation. Far better to accept invalid form data than prevent someone from completing the form with valid details.

[2017-05-21 20:20] sasjkia commented on #267
@richardwestenra noted. Is there a way to let people override if their address doesn't show up?

[2017-05-21 20:53] richardwestenra commented on #267
@sasjkia Sorry, if their address doesn't show up where? I don't understand.

[2017-05-21 20:56] sasjkia commented on #267
@richardwestenra the address, in the system.

[2017-05-21 20:57] sasjkia opened #285 "Change all mentions of phone number"
We have a new phone number. It's 540-656-9388

[2017-05-21 20:59] richardwestenra commented on #281
The mobile checkbox should be required, then.

However as mentioned on the backend issue, we might be able to replace this with programmatic phone number checking: https://github.com/voteamerica/backend/issues/144#issuecomment-302962745

[2017-05-21 21:02] richardwestenra commented on #267
@sasjkia Override how? Sorry, I'm still really confused about what sort of situation you're describing.

[2017-05-22 13:14] russon77 commented on #267
@richardwestenra @sasjkia is talking about the google address autocomplete - it provides a selectable drop-down to a text input, so that the user can select a pre-validated address.

i think verification by google should be optional. maybe a voter does not want to supply their address to vote america and would prefer to communicate directly with the driver after being matched based on the relative

[2017-05-22 14:53] richardwestenra commented on #254
@geoffreyyip Do you think we can get a PR submitted for this issue ASAP? There's no need to complete all the tasks in a single PR. In fact, better to break it up into several smaller PRs, than one big one.

In particular, we'd like to prioritise any tasks relating to removing any mention of 2016, including deleting the countdown click.

Can you please let me know which tasks you've completed, and

[2017-05-22 18:29] jkbits1 opened #288 "update tweets for 2017"
@sasjkia re your ASAP call for updating reference to the 2016 election - please can you provide updated versions for these tweets, then I'll make the changes

UPDATE: https://github.com/voteamerica/voteamerica.github.io/pull/289 addresses the text of home pages (and others) but not the thanks page tweet

home page (and others) tweet
`Support #Democracy4All this #` Election2016 `. Sign up on @Carpo

[2017-05-22 21:48] geoffreyyip commented on #254
@richardwestenra I just saw this message.

All items are completed (except for the LLC issue). I have to run right now, but I'll submit a pull request at about 10pm (or four hours from now).

[2017-05-22 21:55] #283 closed

[2017-05-22 22:45] geoffreyyip commented on #254
@richardwestenra Event was postponed, so I got the pull request in a few hours early. Pull request is at #289.

Side note: I just realized that Pull Requests are created as Issues, and can be referenced using the same hashtag {#} shortcut. Mind blown.

[2017-05-24 11:59] sasjkia commented on #288
Thanks for spotting these @jkbits1!

I think the thanks page has 2 different tweets: 1 for rider, the other for driver.

Rider
I've signed up to #ClaimMyVote this #election through CarpoolVote.com. Will you? @CarpoolVote connects volunteer drivers and voters.

Driver
I've volunteered to drive voters this #election through CarpoolVote.com. Will you? @CarpoolVote #DriveToVote #RightToVote

[2017-05-24 12:02] sasjkia commented on #267
thanks @russon77! what are you waiting on re text updates?

[2017-05-24 13:01] russon77 commented on #267
should i add the text, like shown in https://github.com/voteamerica/voteamerica.github.io/issues/267#issuecomment-302720227

or is the text at the bottom of signup enough?

[2017-05-24 13:19] russon77 commented on #267
@sasjkia for the autocomplete functionality, i need a google API key. the limit is 1k requests per day, but can be increased for free by adding a credit card to the account to 150k requests per day. you can get an API key with your/voteamerica's google account here: https://developers.google.com/places/web-service/usage#enable_billing

source:

https://developers.google.com/maps/documentation/java

[2017-05-24 13:30] jkbits1 commented on #288
@sasjkia great, I'll change these 👍

[2017-05-24 14:24] sasjkia commented on #267
@russon77 please could you check with @kyle in the slack? he's taking over ux and will be better placed to make the call :)

[2017-05-24 16:24] sasjkia commented on #282
@jkbits1 is this also relevant to backend?

[2017-05-24 16:31] sasjkia commented on #281
@richardwestenra programmatic phone number checking would be awesome!

[2017-05-24 16:49] sasjkia opened #290 "Remove 866-OURVOTE from the top bar"
Looks like this slipped back in after we removed it last year. People were calling this instead of our phone line, which resulted in the other phone line being clogged.

Call 1-866-OURVOTE for voter support.

[2017-05-24 16:51] sasjkia opened #291 "Map not showing up on Macbook Air on chrome"
Spoke with someone on the phone and they said the map doesn't come up. They can see the title for the map but not the actual map.

Could be because of internet connection because it works fine on mine. But worth investigating.

[2017-05-25 09:30] richardwestenra commented on #267
btw @russon77 which issues (if any) have you completed locally, and which are you currently working on?
Feel free to break this issue into multiple PRs, so that we can ship early and often, and to keep our review workload relatively manageable. (See: [Reviewing a small PR versus reviewing a large one](https://www.youtube.com/watch?v=Q5b_0bulGi4))

[2017-05-25 12:35] russon77 commented on #267
@richardwestenra i have broken the issue into several PRs already. i am currently working on the address autocomplete.

[2017-05-25 14:11] richardwestenra commented on #267
@russon77 Oh yeah so you have, sorry, nevermind me. Thanks for the update!

[2017-05-25 14:24] kylejcrawford opened #292 "Add 'My Rides' to Homepage nav bar"
This should take a person to the self-service portal if they want to check on their rides at some point. Currently, it is difficult to do this from the homepage.

Also, I'm suggesting this phrasing because it seems like it'll work well for drivers and riders mutually.

Once this is added to the nav bar, also take the 'self-service portal' link off of the footer.

[2017-05-25 14:38] kylejcrawford opened #293 "Confirm email notifications working"
As a driver and as a rider I signed up for email as my notification preference, though didn't receive a confirmation email for either sign-up.

[2017-05-25 15:15] sasjkia commented on #293
That's strange. Have you checked your spam folder?

[2017-05-25 15:25] kylejcrawford commented on #293
Ah, they were in there. I'll find a spot in the process to inform users to check there

[2017-05-25 15:37] #293 closed

[2017-05-26 00:02] geoffreyyip commented on #285
Is the old number 804-239-3389?

[2017-05-27 17:52] sasjkia commented on #285
Yes.

[2017-05-27 19:57] sasjkia commented on #285
@geoffreyyip thanks for taking this on.

@richardwestenra this is the most important issue right now because people need the right phone number to be able to use the service.

[2017-05-28 03:45] sasjkia opened #296 "Change "Seats required" text on rider signup form"
Change from:

To make it easier for us to match people, please complete an individual form if you do not need travel with anybody else.

To:

To make it easier for us to match people, we ask that you travel with as few people as possible.

[2017-05-28 09:25] richardwestenra commented on #292
Note: The trickiest thing about this task will be ensuring that it doesn't break the layout across different screen widths, because the header design is already a little tight in terms of space available.

[2017-05-28 13:33] russon77 commented on #296
got it 👍

[2017-05-28 14:58] geoffreyyip commented on #254
Seems like we got all the items. Can we close this issue and move any remaining items to new issues?

[2017-05-28 15:03] sasjkia commented on #254
Yes - thanks for persevering @geoffreyyip! Going forward, I'll keep the issues separate :)

[2017-05-28 15:08] sasjkia opened #298 "Make all link open in new tab"
Currently, clicking on a link takes people away from the site (this had somehow been reversed from the version we had last year).

Please make each link open a new tab instead.

[2017-05-29 07:41] #285 closed

[2017-05-29 07:43] #296 closed

[2017-05-29 12:30] richardwestenra commented on #298
Note: This is a contentious issue in UX land: Many UX experts (UXperts?) argue that forcing links to open in new tabs is confusing for computer-illiterate users (as it breaks the back button), and annoying for expert users (as it takes away control from the user). See [this article on Smashing Mag](https://www.smashingmagazine.com/2008/07/should-links-open-in-new-windows/) for example.

Then again

[2017-05-29 16:11] kylejcrawford commented on #298
Haha yeah what @richardwestenra said! Good arguments both ways (thanks for linking articles).

I'd say the trend is moving in the direction of not opening in new tabs/windows automatically

[2017-05-29 16:18] geoffreyyip opened #300 "Needs Discussion: Rider Signup > Vehicle Requirements"
The **Rider Signup > Vehicle Requirements** section may need updating. Guidance text is displayed within the **Other Requirements** `<textarea>` input and also beneath it. This is inconsistent with the **Location Details** section up top. How should we redesign this section?

The objective of this issue is to discuss next steps. Once we determine that, we can create a new issue for implementation.

[2017-05-29 16:23] geoffreyyip commented on #300
I'm personally leaning towards @kylejcrawford's viewpoint. Simplifying the copy for **Vehicle Requirements** to something like "Please let us known of any other accomodations you will need".

So something like:
* Label: Other Notes
* Placeholder: Please let us know of any other accomdoations you will need.

@sasjkia, there's a lot of guidance text currently. I'm confused by something. The website

[2017-05-29 16:31] sasjkia commented on #300
@geoffreyyip I think checkboxes would put too much emphasis on this text. It would alse create additional database entries for the backend. I like the suggestion about simplifying the text inside the box and then outlining potential types of input right next to it.

[2017-05-29 16:32] sasjkia commented on #300
FYI - the original text wording was created with the help of disability charities who wanted people to have a way to communicate special accommodation needs.

[2017-05-29 16:35] sasjkia commented on #300
@geoffreyyip "On the driver signup form in the notes page, create a separate bullet point for each type of accommodation needed. After car seat requirements, add "- Can only communicate in a language other than English"

[2017-05-30 13:35] russon77 commented on #267
@sasjkia correct me if i'm wrong, but i believe that the only remaining change in this issue is:

- [ ]  On rider signup form collection address, separate the street/apartment numbers from the street names (these should be separate entries in the database)

is this still a requirement? i have some worries about the interaction with the google autocomplete - we would need 3 inputs instead of the cu

[2017-05-30 13:37] russon77 commented on #290
got it :+1:

[2017-05-30 13:53] russon77 opened #302 "reduce download size"
looking into the site's performance, i noticed that the site downloads a few rather large facebook and twitter libraries - but i could not identify where they were used. i think that we can configure the "tweet/share this on x platform" *without* downloading the javascript libraries!

## questions

- for what is the facebook sdk + additional downloaded libs used?
- for what is the twitter widget l

[2017-05-30 13:59] #290 closed

[2017-05-30 14:06] richardwestenra commented on #302
I believe it's just using these scripts for the share buttons. They're the standard scripts recommended by Twitter/Facebook. I'm sure there's a way to do it without requiring these scripts, I just haven't really looked into it, as I figured the scripts are loaded asynchronously so they're probably not slowing down the rest of the page. Feel free to look into it if you've not got anything more pres

[2017-05-30 18:01] sasjkia commented on #267
@russon77 good question! I'm trying to get to a point where we can send the rider's street name etc but not the exact house/apartment number. Reasoning is that we'd like to keep personal details to a minimum during the initial notification, which goes out to all potential drivers. Zip code is a little too wide of people to make an informed judgment about whether or not they can drive. I'm open to

[2017-05-31 11:59] russon77 commented on #267
@sasjkia after matching, do the driver and rider have a direct line of communication? if so, we could ask only for the general area, like the street but not the house number. then, after a match, the driver and rider communicate and pick a mutually safe place to meet.

this is safer, because at no point does vote america know the specific address, so it can't be stolen and used for nefarious purpo

[2017-05-31 12:55] russon77 commented on #302
i did some tests and here are the results:

## download size

base: 950 KB
v2-minus-fb: 775 KB
v2-minus-twitter: 925 KB
v3-minus-fb-and-twitter: 730 KB

## number of requests

base: 80
v2-minus-fb: 75
v2-minus-twitter: 79
v3-minus-fb-and-twitter: 70

## questions

- why so many analytics tools? i see gosquared.com, google analytics, cloudflare analytics?

[2017-06-01 13:44] russon77 commented on #292
i've attempted to resolve this in PR #303 :+1:

[2017-06-01 14:31] richardwestenra commented on #302
Great work, thanks @russon77! I'd be interested to see how these affect page load time (specifically time to interactivity). While I have no doubt that these libs affect total download, they probably don't affect page load time so much because I believe they're async.

@sasjkia why do we have so many analytics tools?

[2017-06-01 23:22] sasjkia commented on #302
@richardwestenra I was unaware of these tools... I know about gosquared because I get email updates on usage stats but I'm not sure who keeps paying for it but it's not me! :D

[2017-06-02 01:37] sasjkia opened #304 "Update "Our story" to be clearer about where rides are needed"
A partner got in touch to stress that rides to the polls are essential where very specific voter suppression mechanisms are in place. In some states, it may be more effective promoting other ways to access democracy. With this in mind, please add a link underneath the paragraph "Our story" page, underneath the paragraph:

[
Find out if your state is affected](https://www.letamericavote.org/states/

[2017-06-02 01:56] sasjkia commented on #267
The address autocomplete is awesome - thank you!!! :)

[2017-06-02 02:04] sasjkia opened #305 "Move "I can only communicate in a language other than English" to the notes bullets"
We do not want to make more updates to the database and this format doesn't allow for the user to be specific about the language, so we cannot have this extra feature that has just been added.

- [ ] Please remove the "I can only communicate in a language other than English." check box.
- [ ] Instead, add the same sentence as a bullet point under "Other requirements".
- [ ] Please change the final

[2017-06-02 02:14] sasjkia opened #306 "Add spam folder reminder to rider confirmation page"
On the confirmation page after a rider has submitted a ride request form, please add, underneath the first paragraph

"**If you do not receive a message via email, please check your spam folder.**"

Please make this bold, so people do not miss the memo.

[2017-06-02 14:16] russon77 commented on #306
got it

[2017-06-02 14:20] russon77 commented on #304
got it :+1:

[2017-06-02 14:24] russon77 commented on #305
got it :+1:

[2017-06-03 20:31] sasjkia opened #310 "Change text in "Our story""
Change "Shrinking voter registration periods" to "Shrinking early voting periods"

[2017-06-04 13:40] #306 closed

[2017-06-04 13:45] #304 closed

[2017-06-05 13:35] russon77 commented on #310
got it :+1:

[2017-06-06 09:07] #305 closed

[2017-06-06 23:46] kylejcrawford opened #313 "Replace 'Voting info' link with 'My rides' in nav bar"
In follow-up to Issue #303

I suggest we make the Nav bar read "Our Story | How It Works | My Rides"?

This will get these all on one line and keeps the Nav bar pieces dedicated to Carpool Vote. This fits with our target users' needs because rather than learning about voting eligibility, they are primarily visiting to give/get rides to vote. Voting Info section can still be included below on the p

[2017-06-07 15:05] kylejcrawford opened #314 "Rider signup: Add spacing between location boxes and polling info box"
The current version is a little too tight. See basic mockup below

![add spacing to location polling](https://user-images.githubusercontent.com/28900672/26885482-c358c286-4b70-11e7-8d43-826b4101dff5.png)

[2017-06-07 15:19] kylejcrawford opened #315 "Rider signup: Change guidance text in 'Other Requirements'"
The current version includes an excess of copy. Because we have included the examples listed to the right of this text box, perhaps we can simply include text inside the box that says: 'Please let us know any other requirements you have for your ride...'

Basic mockup:
![change other requirements text box copy](https://user-images.githubusercontent.com/28900672/26886333-0d3223b4-4b73-11e7-9816-6cf

[2017-06-07 16:23] kylejcrawford opened #316 "Rider Signup: Edit text for 'Preferred method of contact from driver'"
The current state appears unnecessarily complex and can be simplified.

![change preferred method of contact from driver 1](https://user-images.githubusercontent.com/28900672/26889331-da7aa8b6-4b7b-11e7-9160-db54b3ad73ea.png)

[2017-06-07 23:27] sasjkia opened #317 "Problem with the date picker"
I initially tried to use a demo laptop for the presentation last night but it wouldn't let me submit the form, so I had to switch to my own laptop. Weirdly, they're both Macbooks, but the date picker looked different between them (the one had autocomplete; the other didn't).

The error message for the form submission made it look like there was a date submission issue. It looked like it could have

[2017-06-11 14:14] sasjkia opened #318 "Change Virginia primaries date"
It's on the 13th, not the 15th.

[2017-06-11 15:31] #318 closed

[2017-06-18 19:21] #278 closed

[2017-10-12 18:53] evelynStraigt commented on #313
Is this what you guys needed?  =D
https://github.com/voteamerica/voteamerica.github.io/pull/322

[2017-10-12 19:07] florida commented on #316
assigning this to me.

[2017-10-12 19:10] florida commented on #315
assigning this to me

[2017-10-12 19:10] florida commented on #314
assigning this to me

[2017-10-12 19:20] ArmandoAmador commented on #288
is this still needed?

this is the current text

[code]

[2017-10-12 19:39] ScottDikowitz opened #324 "map section doesn't handle situation where api calls fail"
if /unmatched-riders or /unmatched-drivers api calls fail (which it is doing now!) then the map section will be blank with no indication why

[2017-10-12 20:27] ScottDikowitz commented on #310
This issue can be closed

[2017-10-23 21:03] rapicastillo opened #327 "Jon, someone is requesting the DNS for a VI outreach"
Hey @jkbits1 ! Rapi here from ProgCode, NAACP in VA is pushing something out soon and has a dev who would like to access the DNS for further work, would it be possible for you to go on a convo with me via my email @ rapi@progcode.org? Thank you!

[2017-10-23 21:09] #327 closed

[2017-10-29 21:02] BNewing opened #328 "Uneven ability to accept browser font-size preferences"
Across the CSS files, there are around 26 font-size declarations, and around half are in ems and half are in px. The advantage of ems is that it accepts and scales around whatever the user may have set their standard font-size to.

I don't think this is very widely used, and at the moment because of some ems being used, a lot of the website does scale up and down accordingly. Upon a quick scan, it

[2017-10-30 11:24] richardwestenra commented on #328
Great call, thanks @BNewing!

[2017-10-30 12:10] #314 closed

[2017-10-30 12:10] #315 closed

[2017-10-30 12:10] #316 closed

[2017-10-30 12:28] #324 closed

[2017-11-04 10:36] richardwestenra opened #330 "Add automatic cancellation/unsubscribe functionality to the self-service page."
Allow incoming links to the self-service page with a query string including `?unsubscribe` or `?cancel` (or similar?) to be automatically unsubscribed, without needing to log in first, provided they have a URL already set. Then provide an appropriate message to the user.

[2017-11-04 12:58] BNewing opened #332 "Nav tab order is a little counterintuitive"
This is again a really minor point! Accessibility in general seems pretty good and well thought out on this website which is really nice to see :)

At the moment, it's really hard to spot tab focus on the Twitter and Facebook button. In this screenshot, the Twitter icon has tab focus for example:

![image](https://user-images.githubusercontent.com/16868713/32405520-25c62242-c15f-11e7-990e-3f3bab12

[2017-11-06 15:42] richardwestenra commented on #332
Thanks @BNewing, good shout. Though if this is one of the worst a11y issues on our site atm then I think we're doing pretty well! :)

On the one hand, changing the tab order on desktop would throw the tab order into disarray on mobile, which isn't ideal. On the other hand, I don't think people tend to use tabbing order on mobile (or do they? I'm not super familiar with mobile screen reader usage).

[2017-11-06 16:02] #310 closed

[2017-11-06 16:49] BNewing commented on #332
Hehe yeah I'm not very experienced at accessibility stuff but I am struggling to find issues at the moment! Which is great :D

1. Tab order stuff can get quite messy, and complicated to work with, so I'd recommend we leave it for now!
2. Yeah, that could be a it tricky. I was looking at the CSS for it earlier and having a poke and I think it would be a tricky job
3. I think this is the most viable

[2017-11-11 22:02] #328 closed

[2017-11-11 22:25] richardwestenra opened #334 "Map: Show an icon for powerchair vehicles"
Vehicles equipped with powerchair lifts must somehow be easily flagged on the map so operators can tell if one is available.

[2017-11-11 22:32] richardwestenra opened #335 "Map: Show Drivers at all times"
 Once vehicles accept an assignment, they disappear from the map and never reappear. To people visiting the map it will appear that we have no drivers in the area when in fact we do.

Can we show all drivers as visible, as long as they are working in their timeframe, and have them disappear when they are off duty?

Perhaps drivers could be color-coded, e.g. ![Green](https://placehold.it/15/09c100/

[2017-11-11 22:37] richardwestenra commented on #292
Closing this issue in favour of #313 which is practically a duplicate.

[2017-11-11 22:37] #292 closed

[2017-11-11 22:39] richardwestenra commented on #288
Thanks @ArmandoAmador, you're correct, this is no longer relevant. Closing for now, but we'll need to update 2017 to 2018 in a couple of months ;)

[2017-11-11 22:39] #288 closed

[2017-11-11 22:44] richardwestenra commented on #300
I believe this issue is resolved.

[2017-11-11 22:44] #300 closed

[2017-11-11 23:03] #142 closed

[2017-11-11 23:05] richardwestenra commented on #82
@dmilet I'm considering this issue resolved unless I hear otherwise

[2017-11-11 23:05] #82 closed

[2017-11-11 23:06] #148 closed

[2017-11-11 23:12] richardwestenra commented on #171
@dmilet @langdonms Closing this issue, but please let me know if you think it should be reopened.

[2017-11-11 23:12] #171 closed

[2017-11-13 13:40] acqsysandrea opened #336 "Operator Interface"
In one of the other posts there was a request to have driver status (Rider Picked Up/Ride Completed)

I had to call each individual driver or they called me to tell me they were ready to pick up another ride.

[2017-11-16 11:00] richardwestenra commented on #254
Belatedly closing this issue. Thanks @geoffreyyip, great work! 😄

[2017-11-16 11:00] #254 closed

[2017-11-16 11:24] richardwestenra opened #337 "Replace Facebook & Twitter widgets in the header with plain styled links"
![image](https://user-images.githubusercontent.com/1155816/32888039-e7d945b4-cabd-11e7-89c7-aeaeed783f65.png)
At present, the Facebook and Twitter buttons in the header are generated with the official widgets. However these require an unnecessarily large JS download, and they load slower than the Youtube link (which is currently hard-coded and styled with CSS).
So, let's remove the widget JS and m

[2017-11-16 11:26] richardwestenra commented on #302
I've created a dedicated task for removing the twitter/facebook widgets: #337

[2017-11-16 11:28] richardwestenra commented on #291
Closing this issue as we don't have sufficient info to attempt to replicate it.

[2017-11-16 11:28] #291 closed

[2017-11-22 03:51] MichaelE1 commented on #337
Hi. I can work on this! Should have a PR done within the next couple of hours.

[2017-11-29 13:31] #337 closed

[2017-12-02 11:27] #302 closed

[2017-12-02 12:24] #313 closed

[2018-01-14 17:32] membrq commented on #250
I'd like to work on this.

[2018-03-12 21:43] PamelaJohn opened #341 "Front End - Update all 2017 references to 2018"
Update all 2017 references to 2018.

[2018-03-21 01:25] acqsysandrea opened #342 "MS Access Database Rough"
Here's the MS Access database I promised.

It lets you look at how I need to see data for both Drivers and Riders.

For Drivers I need to see the follwing:

- When they are driving

- Status of each trip
[CarPoolVote.zip](https://github.com/voteamerica/voteamerica.github.io/files/1831765/CarPoolVote.zip)

- Who they have picked up (trips)

If there is a map, I need a symbol for the different types

[2018-03-25 19:21] jkbits1 opened #343 "Carpool Vote – Topics/goals for meeting – 18 mar 18"
`updated after online meeting 18 mar 18`
`updated after online meeting 22 apr 18`

#### The order of these is a bit mixed, as they are updated version of my own notes.

## Lets encrypt (resolved)
            needs to be resolved, otherwise site is not accessible

                                - info needed
                                - expired 17/3/18

           still need wider access to r

[2018-03-26 00:23] PamelaJohn opened #344 "Create auto-import of NGP Van turfs (riders data) to the CPV database"
_(This request was made at the 2018, March 18th CPV upgrade planning and strategy session.)_

#### Create auto-import of NGP Van turfs which identify riders' data to the CPV database, including:

- Rider's Name
- Rider's Address
- Rider's Zip Code
- Rider's Phone Number
- Rider's Polling Place Address + Zip Code

@acqsysandrea please let me know if I've missed anything data to import from turfs.

[2018-03-26 01:24] PamelaJohn opened #345 "Back End - Organization registry - Bug"
_(This request was made at the 2018, March 18th CPV upgrade planning and strategy session.)_

#### Rider Zip Code & Polling Place Zip Codes Are Not Always the Same

Most of the time, the residential zip code of the rider and the rider's polling location are the same. But in some instances, they are not.

How can operators determine whether the polling location zip code is different from the rider'

[2018-03-26 01:34] andrewcuan opened #346 "Back-end - Driver registry"
As a field manager, I want to be able to see a list of all drivers so that they can be properly assigned to riders based on their needs and location.
**Acceptance Criteria**
- [ ] - Driver ID (auto generated)
- [ ] - Driver first name (Free text)
- [ ] - Driver last name (Free text)
- [ ] - Driver email (Free text)
- [ ] - Driver phone (Free text)
- [ ] - Preferred contact method (Dropdown)
    -

[2018-03-26 01:39] andrewcuan opened #347 "Back-end - Rider registry"
As a field manager, I want to be able to see a list of all riders so that they can be properly assigned to drivers based on location and needs.
**Acceptance criteria**
- [ ]  Rider ID (Auto generated)
- [ ] - Rider First Name (Free text)
- [ ] - Rider Last Name (Free text)
- [ ] - Trip date (Free text)
- [ ] - Trip time (Free text)
- [ ] - Pickup address (Free text)
- [ ] - State (Free text)
- [ ]

[2018-03-26 01:40] PamelaJohn opened #348 "Front-end - Advise potential users of new operator-focused system"
_(This request was made at the 2018, March 18th CPV upgrade planning and strategy session.)_

#### Problem: Site is Still Consumer-Facing, Needs Notice to Consumers

Although Sasjkia and the CPV team have made the decision to re-purpose CPV from a consumer-facing application to an outreach tool for voter-outreach organizations, there is no notice on the site advising users of the transition.

####

[2018-03-26 01:42] andrewcuan opened #349 "Back-end - Organization registry"
As a field organizer, I want to be able to manage a list of organizations that the campaign works with in order to see what drivers and riders they are recruiting.
**Acceptance criteria** - for registry
- [ ] - Org ID (Auto-generated)
- [ ] - Organization name
**Additional acceptance criteria**
- [ ] - Org ID appears in drop down list for Org ID for the driver list and rider list after being creat

[2018-03-26 01:43] andrewcuan opened #350 "Back-end - Trip registry"
As a field manager, I want to be able to see a list of trips so that I can see how many trips are scheduled and by who.
**Acceptance criteria**

- [ ] Trip ID (Auto-generated)
- [ ] Trip Date (Pulled from rider registry)
- [ ] Trip Time (Pulled from rider registry)
- [ ] Driver’s name (Pulled from driver registry)
- [ ] Driver ID (Pulled from driver registry)
- [ ] Pickup address (Pulled from ride

[2018-03-26 01:52] andrewcuan opened #351 "Back-end - Trip registry - additional functionality"
As a field manager, I want the system to automatically link drivers and riders based on needs and locations in the trips registry
**Acceptance criteria**

- [ ] Link driver to riders in the same pickup zip code
- [ ] If rider has powerchair, link with driver that has “power chair” vehicle type
- [ ] Link riders to drivers with available seats
- [ ] Subtract “number of seats required” in rider list

[2018-03-26 02:00] acqsysandrea commented on #345
Operators can lookup the polling location by name and manually get the
address and I code.

Andrea Miller

On Sun, Mar 25, 2018, 9:24 PM ProgCode Pamela <notifications@github.com>
wrote:

[2018-03-26 02:30] PamelaJohn opened #352 "Front End - Rider registry, Driver registry & Organization registry - Bug"
_(This request was made at the 2018, March 18th CPV upgrade planning and strategy session.)_

#### Problem: Sasjkia Is Still Receiving Emails from Riders, Drivers & Organizers
Website contact email adress, info@carpoolvote.com, still directs to Saskjia's email address. Sasjkia receives emails from members of the public trying to access CPV but is unable to respond due to employment restrictions.

[2018-03-26 02:44] PamelaJohn opened #353 "Back End - Organization registry - accessibility"
As a field organizer, I want to be able to view and manage lists of riders, drivers and organizations the campaign works with.

#### Problem: The Current Database Font is Too Small
Volunteer organizers who are visually impaired are unable to read the database font.

#### Solution: Unknown

[2018-03-26 03:23] PamelaJohn opened #354 "Map - Driver Icon Disappears from Map when Driver Picks Up First Rider"
As a field organizer, I need to be able to discern which volunteer drivers are available to pick up more than one rider.

When a rider registers their need for a ride to the polls, an icon is placed on the map at each rider's location.

Likewise, when volunteer drivers register their availability to take a rider to the polls, an icon is placed on the map at each driver's location. It is conceivabl

[2018-03-26 03:41] PamelaJohn opened #355 "Back End - Organization registry - notifications if polling place has been closed"
As a field organizer, when a volunteer driver notifies me of a sudden polling place closure or relocation, I want to be able to bulk update the polling place address for all affected voters in a dataset via NGP Van and auto-import the new list to CPV so additional riders and drivers are notified of the change in polling location.

See Issue #344

[2018-03-26 03:46] PamelaJohn opened #356 "Back End - Organization registry - added functionality"
As a field organizer, I want to be able to double check Rider registry indicating that voters who previously indicated to phone bank operators that they need a ride to the polls, are still in need of a ride on election day, before dispatching volunteer drivers.

#### Solution:
- [ ] Create a check box on the back end for field operators to mark off when the need for a ride is confirmed on election

[2018-03-27 04:57] sasjkia commented on #351
Hey Andrew, not sure I understand this comment? This is already a function of the system?

[2018-03-29 14:35] andrewcuan commented on #351
I created this issue so that we make sure we have this function in the database when creating the new trip registries. Sasjkia, is there a way for me to view what we currently have on the backend?

[2018-04-28 19:28] aaghevli commented on #344
Digging into this a bit and am a bit confused. NGP Van does have API access capabilities, but I am not clear what the "turfs" refers to.

Here is the endpoint to fetch all the contacts in a single NGP Van database: https://developers.ngpvan.com/van-api#people

We also require an API-KEY to do this work. Is this something that can be provided?

[2018-04-28 19:58] jkbits1 commented on #344
@aaghevli thanks for taking a look at this 👍 😄 much appreciated. Good point about "turfs", it has a clear meaning for election organisers @PamelaJohn @acqsysandrea can you help to clarify this, please?

@PamelaJohn @acqsysandrea @andrewcuan @aaghevli  when this issue has been discussed, I've wondered a bit about the context it fits into. If it's an occasional task, it might be easiest to have a st

[2018-04-29 01:41] aaghevli commented on #344
@acqsysandrea and I synced offline and she sent me the file, which is in PDF.

What generates this file? If this is from NGP Van CRM [1] then I wonder if they have a more computer friendly format like CSV/JSON/XML since PDF is not ideal and can lead to brittle import logic. Otherwise, the direct API access is still an option.

@jkbits1, I am happy to help with either the stand alone task and/or po

[2018-04-29 02:06] acqsysandrea commented on #344
I can certainly generate this is a .CSV file but there would be a lot of
manual copying and pasting. VAN does not let you export data, it is a
permission based process that is hit and miss. The .PDF files or lists are
native.

I can run the list and then copy and past the names into Excel. I would
then need to run the turf to get the polling locations and copy and paste
those in.

It is doable.

A

[2018-04-29 02:11] aaghevli commented on #344
Thanks @acqsysandrea! I don't think copy and pasting is worth your time. There are two solutions:
* parse the PDF and import into the database
* directly access the VAN data via their API

I can see how far I get with the parsing of the PDF, but I would suggest thinking through the API access as it would reduce all manual work on your end entirely.

[2018-04-29 02:28] acqsysandrea commented on #344
There may be a third option. If we load the polling locations and then
match those with the precincts. We should be able to get that data through
ESRI. Then I could just run the list and include voting precinct.

Andrea Miller

On Sat, Apr 28, 2018, 10:11 PM aaghevli <notifications@github.com> wrote:

[2018-04-30 00:00] aaghevli commented on #344
I have been able to extract the data from the PDF. I still think its really brittle and could break easily, but the output is as follows. The zip and state of the polling location is not in the polling location which makes that output incomplete:

[code]

It is unlikely that I'll have time to finish the push to the database, but hopefully I can post a PR for at least the parsing.

[2018-04-30 00:05] acqsysandrea commented on #344
Don't worry about posting since the primarybixn'to up ntil June. We have a
working concept.

If I send you a .CSV then you're in good shape. I will work on getting
precinct added to the output.

Andrea Miller

On Sun, Apr 29, 2018, 8:00 PM aaghevli <notifications@github.com> wrote:

[2018-04-30 00:07] aaghevli commented on #344
Thanks @acqsysandrea, the extraction into JSON from the PDF should avoid the need for you to manually extract the CSV values by hand.

[2018-04-30 00:09] acqsysandrea commented on #344
When I generate the list, I can just do a quick swipe and copy the names.
There will never be more than a few hundred in each state.

Andrea Miller

On Sun, Apr 29, 2018, 8:07 PM aaghevli <notifications@github.com> wrote:

[2018-05-17 00:38] PamelaJohn opened #357 "Backend - Organization Registry - Add Functionality indicating if buses will depart from a designated meeting place"
I am an organization which wants to provide carpool services by providing a bus which will depart from a designated meeting place rather than stopping at individual residences to pick people up.

I am an operator who needs to know when a bus will be departing from a designated meeting place rather than stopping at individual residences to pick people up.

Operators need some kind of indicator on t

[2018-05-20 19:39] jkbits1 commented on #345
@PamelaJohn @acqsysandrea riders enter both their zip and their destination address and zip. Does this cover the issue mentioned here?

[2018-05-20 19:43] PamelaJohn commented on #345
Hi @jkbits1! Judging from the above comment from @acqsysandrea, it appears the answer to your question is "yes" and this issue can likely be closed. The problem seems to have been my misinterpretation of the issue as it was presented during the 2018.03.18 CPV upgrade planning and strategy session. Apologies!

[2018-05-20 20:34] jkbits1 opened #358 "Back End - operator page and temporary alternative"
This issue is a suggestion and request for feedback on the following issues

https://github.com/voteamerica/voteamerica.github.io/issues/346
https://github.com/voteamerica/voteamerica.github.io/issues/347
https://github.com/voteamerica/voteamerica.github.io/issues/349
https://github.com/voteamerica/voteamerica.github.io/issues/350
https://github.com/voteamerica/voteamerica.github.io/issues/356

Al

[2018-05-20 20:53] jkbits1 opened #359 "Back End - store new information - state, multi-lingual driver, car type, background check"
This issue is a suggestion and request for feedback on the following issues:

#346
#347
#350

Although discussion is valid on this, it seems to me that most of the basic functionality suggested by these issues is independent of new functionality for specific data fields. My suggestion is that separating out the new functionality for specific data to new issues will make these issues more approacha

[2018-05-20 20:54] jkbits1 commented on #345
Hi @PamelaJohn no problem at all 😄  always better to raise an issue then close than let issues go unnoticed!

[2018-05-20 20:54] #345 closed

[2018-05-20 21:02] jkbits1 commented on #346
@andrewcuan as mentioned in #359 there is new functionality here for specific data fields:

those fields are State, Multi-lingual and Car type (btw, system does support Power chair support and seat count), Background check (considered and dropped for Nov 16) and Org ID

If we can move those changes to a separate issue, this issue becomes more clear-cut and easier to begin work on. Any debate on th

[2018-05-20 21:03] jkbits1 commented on #347
@andrewcuan as mentioned in #359 there is new functionality here for specific data fields:

those fields are State, Voting Assistance and Org ID

If we can move those changes to a separate issue, this issue becomes more clear-cut and easier to begin work on. Any debate on the new data will not impact work on this issue.

[2018-05-20 21:09] jkbits1 commented on #350
@andrewcuan as mentioned in #359 there is new functionality here for specific data fields:

those fields are State, Assigned riders (system currently supports a single rider for a match)

If we can move those changes to a separate issue, this issue becomes more clear-cut and easier to begin work on. Any debate on the new data will not impact work on this issue.

[2018-05-20 21:15] jkbits1 commented on #351
@andrewcuan as mentioned in #359 there is new functionality here:

"available seats" and subtracting "number of seats required" ...

Perhaps this issue is the place to discuss the new functionality. If so, perhaps the initial statement could be edited. Otherwise, just create a new issue

[2018-05-20 21:16] jkbits1 commented on #351
@andrewcuan you are welcome to ask me or anyone about the backend functionality 🙂

[2018-05-20 21:29] jkbits1 commented on #355
@PamelaJohn currently, the system doesn’t maintain the polling place address for a rider, it simply records the rider’s destination zip.

@acqsysandrea @PamelaJohn @andrewcuan I'm aware we've discussed this, but is further design needed for what is required here?

[2018-05-20 21:32] jkbits1 commented on #356
Just some notes on this issue:

1) new functionality: store status of check call – not contacted, contacted and confirmed, contacted and cancelled

2) currently there is no back end or operator's page

@acqsysandrea @PamelaJohn @andrewcuan what is intended for contacting other field organisers?

[2018-05-20 21:45] jkbits1 opened #360 "Optimal use of driver offer - design needed"
@acqsysandrea @PamelaJohn @andrewcuan

In general discussion and specifically in https://github.com/voteamerica/voteamerica.github.io/issues/354 and https://github.com/voteamerica/voteamerica.github.io/issues/350 we are considering how to make optimal use of a drive offer.

Generally, it does seem that drivers are very committed and want to help as much as they can. To support this, the system nee

[2018-06-17 18:18] jkbits1 commented on #360
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:18] jkbits1 commented on #359
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:18] jkbits1 commented on #358
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:19] jkbits1 commented on #357
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:19] jkbits1 commented on #356
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:19] jkbits1 commented on #355
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:20] jkbits1 commented on #353
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:20] jkbits1 commented on #352
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:20] jkbits1 commented on #351
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:21] jkbits1 commented on #350
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:21] jkbits1 commented on #349
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:21] jkbits1 commented on #348
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:22] jkbits1 commented on #347
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:22] jkbits1 commented on #346
@acqsysandrea @aaghevli following our meeting, just pinging about these as discussed

[2018-06-17 18:30] jkbits1 commented on #354
@acqsysandrea @PamelaJohn following our meeting, I've thought about some useful comments made by Andrea about this issue.

If it's a case of showing driver offers whether matched or not, and the seats in a given vehicle, this issue requires a **lot** less work to implement. It might be straightforward to show the seats still available for a vehicle given the current match, or it may just have to b

[2018-06-18 01:55] acqsysandrea commented on #354
I think that would be a very useful feature. That would be one of the
things that we would frequently need to lookup. If we could see if on the
picture that would save a lot of time.

Andrea

On Sun, Jun 17, 2018 at 2:30 PM, Jon Kelly <notifications@github.com> wrote:

--
Andrea Miller
Executive Director, People Demanding Action
443-878-2071
www.peopledemandingaction.org

[2018-06-18 22:07] jkbits1 commented on #354
@acqsysandrea ok, great. I'll take a look at this fairly soon

[2018-06-19 22:00] sasjkia opened #363 "Front-end: Add update for visitors to site"
We need to let people who visit the site know that our approach is changing and we're not currently taking signups.

Please add a red banner above to photo of the road on the home page. The banner should contain the following text:

[2018-06-26 07:22] harshyadav9 commented on #363
can i pick up this issue ?

[2018-06-26 09:52] jkbits1 commented on #363
@harshyadav9 thanks for offering 👍 please, go ahead

[2018-06-27 22:07] jkbits1 commented on #363
@harshyadav9 just to let you know, there's been a PR raised by someone else for this issue. But many thanks for your interest and any contributions for other issues are very welcome 👍 just as you did this time, it's a good idea to check in first before spending too much time on a contribution 😄

[2018-07-19 22:32] brotherjack opened #369 "Report Voter Harassment and Disenfranchisement"
I used to do elections work for ACORN, and I know one issue we were constantly on the lookout for was harassment of voters and potential disenfranchisement. This could be everything from polling officials claiming that a voter was removed from the voting rolls, cops being stationed outside of certain polling places, refusing proper identification, and similar attempts to restrict voter involvement

[2018-07-23 02:02] dmilet opened #370 "Enforce https on carpoolvote.com main page"
Browsers are taking steps to flag websites using http as non-secure
carpoolvote.com works with https, but two things remain the be done, I think
1. all resources loaded by the page should also be https
2. http://www.carpoolvote.com should automatically redirect to https

[2018-07-31 08:40] tws9797 commented on #341
Hi , may I work on this issue?

[2018-07-31 20:02] stephenscapelliti commented on #341
Hi, @tws9797!  Thank you for your offer and your patience. As you can see, we're undergoing a change in direction from being a public-facing to an org-facing app.  I'll ask one of the team members to check in on this and get back to you.  So sorry for the delay.

[2018-07-31 23:13] dmilet commented on #341
It’s ok with me. @PamelaJohn any particular text to be updated?

[2018-08-05 13:03] MadhavBahlMD commented on #341
Alright @stephenscapelliti  :)

[2018-08-15 03:29] PamelaJohn commented on #369
I really love this idea @brotherjack. It addresses the concerns @acqsysandrea brought up in previous meetings about the need for riders and drivers to have some flexibility when they show up at a designated polling place and find it has closed early or been moved across town or has run out of ballots, etc.

[2018-08-18 20:59] AyahRamahi commented on #253
Hi, I am a beginner . How can I help in this ?

[2018-08-19 00:08] jkbits1 commented on #253
@AyahRamahi thanks for offering to contribute 👍 you can certainly help with this issue.

Another contributor created the two documents mentioned above, but we don't have links to them on the https://github.com/voteamerica/voteamerica.github.io/blob/master/docs/contributing.md page. The documents weren't there if you looked before, I've only just merged that PR.

Could you add links to these docume

[2018-08-20 21:40] AyahRamahi commented on #253
@jkbits1 I think i can do this. If I face problems I will comment it here. Thank you.

[2018-08-21 01:50] PamelaJohn opened #372 "Front End - Donation Link - Bug Fix"
#### Problem:
Work flow issue exists with regard to potential donations, resulting in seriously delayed response time and missed opportunity to receive donations at peak donation season when people want to contribute to the transition from CarpoolVote.com to the launch of CarpoolAction.org.

#### User Story:
1. I am a potential donor who wants to contribute to the volunteer community working on Ca

[2018-08-21 21:34] jkbits1 commented on #253
@AyahRamahi thanks for the useful questions 👍 1) that's a very good point about the links. Perhaps `Here is some more information about our values`, where `our values` is the link, and `Learn more about how we work together`, where `how we work together` is the link, would give readers some context. Feel free to amend any of that text if you think it needs improvement 2) I think if the Future Plan

[2018-09-01 23:13] stephenscapelliti commented on #369
One quick partial solution would be to add to the site this link for reporting federal voting rights violations: https://www.justice.gov/crt/complaint/votintake/index.php

State laws also govern voting rights, but they vary from state-to-state. Some research of state laws will be necessary to determine whether we can create a universal form for reporting state law election violations, and then cou

[2018-09-03 01:16] stephenscapelliti opened #381 "Backend - Operator Admin Page - Updating the rider and/or driver list due to unforseen events"
**Considering the functionality of the new** [Operator Admin Page](https://carpoolvote.com/operator-page/) :

**Scenario 1:** I am a driver who is scheduled and confirmed to provide a ride, and unforeseen events prevent me from fulfilling my ride commitment (e.g., Driver's car overheats on the freeway and she's unable to drive for commitments the rest of the day).

**Scenario 2:** I am a rider who

[2018-09-03 02:04] stephenscapelliti opened #383 "Backend - Operator Admin Page - Recordkeeping of use for future reference"
**Considering the functionality of the [New Operator Admin Page](https://carpoolvote.com/operator-page/
)**:

I am a ProgCode/CarpoolAction staff member who would like to maintain records of all uses of CarpoolAction, for verification purposes in the event of later need, such as verification, attribution, etc..

- The ability to download a .csv file of all records relating to riders, drivers, and

[2018-09-07 19:45] jkbits1 commented on #381
@stephenscapelliti thanks for these good questions. I'm slightly thinking aloud with this response, so do feel free to challenge anything.

The general thinking behind the original system was that driver/rider would have enough info to contact each other with provided contact details so the situation was for them to resolve outside the system. The system does provide Cancel options on the self-ser

[2018-09-07 20:03] stephenscapelliti commented on #381
Thanks so much for that history, @jkbits1. These were general thoughts about functionality, and it sounds as though they might be beyond the original scope, certainly with regard to the 2020 midterms.  Perhaps notification would be something to consider later on.  It might help to have input from operators, to determine from their experiences whether this is even worth considering.

[2018-09-08 22:45] jkbits1 opened #384 "Operator page - driver info does not show times"
Without this information it's hard to tell when a ride was offered, matched, cancelled etc.

Relates to #381 #382

[2018-09-08 22:58] jkbits1 opened #385 "Support bulk input of drivers and riders"
Data from existing systems and potentially new data from voice-input systems needs to be loaded into the system

[2018-09-18 21:53] jkbits1 commented on #253
Fixed by #361 #373 #374 thanks to those contributors 👍 🙂

[2018-09-18 21:53] #253 closed

[2018-09-18 21:54] jkbits1 commented on #384
Following merging of #388 this info is now shown, but could be formatted better, so leaving issue open with changed labels

[2018-09-18 21:56] jkbits1 commented on #258
Fixed by #320

[2018-09-18 21:56] #258 closed

[2018-09-18 21:59] jkbits1 commented on #298
@sasjkia with the system now focusing on supporting operators there is less developer/design time for this so closing. We can re-open later if necessary (and if we can agree on which behaviour is best 🙂 )

[2018-09-18 21:59] #298 closed

[2018-09-19 20:40] jkbits1 commented on #265
Less immediate need for this now the system focuses more on supporting operators but changes can still be helpful

[2018-09-19 20:43] jkbits1 commented on #281
@sasjkia closed for reasons mentioned on the backend issue https://github.com/voteamerica/backend/issues/144#issuecomment-422561968

[2018-09-19 20:43] #281 closed

[2018-09-19 20:51] jkbits1 commented on #342
@acqsysandrea much of this is now (or will soon be) done by the operator page. At some point, I'll break this up into multiple, smaller, issues and close this one

[2018-09-19 20:58] jkbits1 commented on #349
There is a decision to be made related to this, that is, can all organisers see info for all organisations?

@stephenscapelliti without addressing the details of the issue as originally, so just on the question in this comment, what are your thoughts on what organisers are permitted to see?

[2018-09-19 21:00] jkbits1 commented on #385
related to https://github.com/voteamerica/voteamerica.github.io/issues/344

[2018-09-19 21:02] jkbits1 commented on #344
@PamelaJohn changed the title for clarity 🙂

[2018-09-19 21:09] jkbits1 commented on #359
as noted here https://github.com/voteamerica/voteamerica.github.io/issues/346#issuecomment-390512481 new information is requested to be stored for drivers, riders and matches.

Those fields are `State`, `Multi-lingual` and `Car type`

NOTE: the system already supports `Power chair support` and `Seat count` and `Org ID`.

NOTE: background check was considered and dropped for Nov 16

[2018-09-19 21:12] jkbits1 commented on #346
The operator page provides all the info specified except those that depend on new functionality. The new functionality is address by issue https://github.com/voteamerica/voteamerica.github.io/issues/359

[2018-09-19 21:12] #346 closed

[2018-09-19 21:13] jkbits1 commented on #347
The operator page provides all the info specified except those that depend on new functionality. The new functionality is address by issue #359

[2018-09-19 21:13] #347 closed

[2018-09-19 21:15] jkbits1 commented on #350
The operator page provides all the info specified except those that depend on new functionality. The new functionality is address by issue #359

[2018-09-19 21:15] #350 closed

[2018-09-19 21:20] jkbits1 opened #389 "Back-end - Display when a driver has available seats after a trip is assigned (or is willing to make multiple trips)"
~~There is an existing issue about new functionality https://github.com/voteamerica/voteamerica.github.io/issues/359 but this feature is not specified there~~

**EDIT:** this original comment is more of a distraction, so has been struck out

[2018-09-19 21:29] jkbits1 commented on #358
The operator page exists and so it is now easier to enhance that page so this issue can be closed

[2018-09-19 21:29] #358 closed

[2018-09-19 21:34] jkbits1 commented on #356
@PamelaJohn I'm dropping the high priority label for this as mid-terms are approaching and this is possible by other means. Please do comment if you don't agree, though 🙂

[2018-09-19 21:37] jkbits1 commented on #360
I'm closing this as the requested conversation hasn't occurred. Issue #389 has been created to address available seats

[2018-09-19 21:37] #360 closed

[2018-09-19 23:05] jkbits1 commented on #381
A similar (not quite duplicate) discussion is in issue #355

[2018-09-19 23:10] jkbits1 commented on #336
@acqsysandrea map now shows number of seats in vehicle

[2018-09-19 23:12] jkbits1 commented on #334
This issue is mentioned in #336

[2018-09-19 23:14] jkbits1 commented on #348
@PamelaJohn good points - further discussion needed

[2018-09-19 23:30] jkbits1 commented on #341
@PamelaJohn this is done now, I think. Just re-open if not (preferably with an example)

Thanks, everyone 🙂

[2018-09-19 23:30] #341 closed

[2018-09-19 23:35] jkbits1 commented on #353
@PamelaJohn there is now an operator page which addresses this issue directly. If browser issues exist, please raise an issue for those 👍

[2018-09-19 23:35] #353 closed

[2018-09-19 23:39] jkbits1 commented on #267
@sasjkia these sub-issues have either been addressed already or are less relevant now the system is focused around operators

Thanks everyone 👍

[2018-09-19 23:39] #267 closed

[2018-09-19 23:43] jkbits1 commented on #335
Related to #354

[2018-09-20 19:49] jkbits1 commented on #357
@PamelaJohn this is a good real-world issue but tricky because it doesn't align with how the system is designed.

A work-around would be for riders to put in the address of the designated meeting place as their address. It would be up to the operators to tell the riders about this. Similarly, neither the operator nor driver should accept rides where the address is not the meeting place.

As it doe

[2018-09-20 20:00] jkbits1 commented on #389
The following issues relate to this
#265
#354
#335
#265

There are **two** situations here - 1) drivers have multiple seats and a rider does not use them all. 2) a driver is booked for all seats but is willing to make multiple journeys in their time slot

[2018-09-20 20:04] jkbits1 commented on #389
Situation 1 - driver has more than one seat can be handled manually or by the system. After a match is made, the operator can re-enter the driver details with the remaining seats. It also would be possible for the system to do this, either automatically or through an operator page notification

[2018-09-20 20:32] jkbits1 commented on #389
**Situation 2** - somewhat thinking aloud on this one but it seems possible to do this by simply changing some text on the front-end (especially now the operator is directing the system) if the method for Situation 1 is adopted. If the text is changed to suggest that seat count field represents either precise seat count or a willingness to make multiple trips, the system will behave in a sensible

[2018-09-21 20:02] stephenscapelliti commented on #389
Could we allow the driver to accept the additional riders and/or trips between the `Start time` and `End time` on the signup page, and also allow the driver to remove him/her/themself from availability for additional riders, through two separate options?

*Example*:
`I am willing to consider multiple trips`, with a :ballot_box_with_check: box.

If the option *is not selected* (i.e., box not checke

[2018-09-24 01:18] acqsysandrea commented on #349
I had an opportunity to login to the backend and take a look around. There is a lot more information than any operator every needs to see. We are also missing two critical pieces of information as organizations operate in multiple states. We need to see City and State. Zip code is necessary for the matching but it provides no human usable information.

Also will the map move to the backend. Here i

[2018-09-24 17:03] jkbits1 commented on #349
@acqsysandrea thanks for the feedback, I'll review it. I tried to initiate a discussion about these extra fields a few months ago with issue #359. The opportunity has probably passed now to have this functionality ready for the mid-terms

[2018-09-27 20:50] sasjkia opened #393 "Text on landing page is not mobile-optimised"
The text at the top of the landing page, that says that Carpool Vote is not taking signups, shows up fine on a desktop but does not adjust to the screen when viewed on the mobile.

Please fix, so that the text is mobile-optimised.

[2018-09-28 19:10] sasjkia opened #394 "Tweet text on website has wrong year"
The Tweet button on the home page generates text that refers to a previous year, and is not clear about Carpool Vote's current status. People are still using and Tweeting this text, which is causing confusion amongst voters.

Please update the Tweet text to the following:
Support #VotingRights in 2018 #USelections through @carpoolvote: Linking drivers with voters needing a ride. http://carpoolvote

[2018-09-28 21:29] #394 closed

[2018-09-28 21:32] jkbits1 commented on #394
@sasjkia well spotted, thanks 👍

[2018-09-28 23:32] jkbits1 opened #396 "Update tweet link to https version of site"

[2018-09-29 00:05] #396 closed

[2018-10-01 01:17] sndurkin commented on #393
Hi @jkbits1, I know you said this was low priority but it was an easy fix and I figured I would take it as a first contribution.

[2018-10-20 05:20] stephenscapelliti opened #406 "Updates to CarpoolVote landing page"
Modify the following at http://carpoolvote.com/:

**1.** Remove the legend `CARPOOL VOTE IS NOT CURRENTLY TAKING SIGNUPS` from the top of the landing page. Determine whether completion of this task eliminates the need for [Issue #393](https://github.com/voteamerica/voteamerica.github.io/issues/393)

**2.** Change UK spelling of "organisations" (which occurs **twice** in this paragraph) to US spell